<app-referrals-popup [showPopupModal]="showPopupModal"></app-referrals-popup>

<div class="main-info main-info--support">

  <div class="middle middle--support-half">

    <div class="middle__support-container">
      <div class="support__container-item">
        <span class="support__container-item-text">Total referrals</span>

        <div class="support__counter">
          <span class="support__counter-text">965</span>
        </div>
      </div>

      <div class="support__container-item">
        <span class="support__container-item-text">Your referral link</span>

        <div class="container__form container__form--refferals">
          <label for="" class="form__label">
            <input type="text" class="form__input form__input-button" [value]="referralLink">

            <button class="filter__container-button">Copy</button>
          </label>
        </div>
      </div>
    </div>

    <div class="middle__support-container middle__support-container--column">
      <span class="support__container-item-text">Information</span>

      <ul>
        <li>
          <span class="support__container-item-list">1. You will receive 10% of tokens spent on ftec.io by users involved by you. As soon as payout exceeds 100000 FTEC,
            the percentage automatically becomes 20%.</span>
        </li>
        <li>
          <span class="support__container-item-list">2. The minimum amount of tokens to withdraw is 1000 FTEC.</span>
        </li>

        <li>
          <span class="support__container-item-list">3. Withdrawal is possible only to ETH wallets.</span>
        </li>

        <li>
          <span class="support__container-item-list">4. Using branded traffic (phrases related to ftec.io) is forbidden.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="filter__container-aside filter__container-aside--refferals">
    <div class="middle__table-type">
      <span class="middle__table-type-name">
        Income
      </span>
    </div>

    <div class="container__wrapper container__wrapper--support">

      <div class="middle__table-container middle__table-container--support support__aside">

        <div class="middle__table-container--support">
          <h3 class="title">Available:</h3>

          <h3 class="title title--green">234087 FTEC</h3>
        </div>

        <div class="middle__table-container--support">
          <span class="support__aside-time">All time:</span>

          <span class="support__aside-time">76854867 FTEC</span>
        </div>

        <div class="middle__table-container--support">
          <span class="support__aside-time">Total withdraw</span>

          <span class="support__aside-time">495867 FTEC</span>
        </div>

        <button class="filter__container-button" (click)="showPopup()">Withdraw</button>
      </div>

    </div>
  </div>

  <div class="middle middle--support">
    <div class="middle__head">
      <h5>Referred users</h5>
    </div>

    <div class="support__tab">
      <ul class="tab-controls">
        <li class="tab-controls-item" (click)="showTab1()" [ngClass]="{'is-active' : tabLvl1}">Lvl 1 Referals (240)</li>
        <li class="tab-controls-item" (click)="showTab2()" [ngClass]="{'is-active' : tabLvl2}">Lvl 2 Referals (294)</li>
        <li class="tab-controls-item" (click)="showTab3()" [ngClass]="{'is-active' : tabLvl3}">Lvl 3 Referals (350)</li>
      </ul>
    </div>

    <div class="middle__table-type middle__table-type--support">
      <span class="middle__table-type-name">
        User
      </span>

      <div class="middle__table-type-inner">
        <span class="middle__table-type-name">
          Email
        </span>

        <span class="middle__table-type-name align-right">
          Date registration
        </span>
      </div>

      <span class="middle__table-type-name align-right">
        Profit
      </span>
    </div>


    <div class="middle__table-container" *ngIf="tabLvl1">
      <div class="middle__table-container-item">
        <h4>Mabel Lambert</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>chance_bartoletti@hotmail.com</span>

            <span>18 Jul 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">705 FTEC</span>
      </div>

      <div class="middle__table-container-item">
        <h4>Orlando Bloom</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>orlandi@gmail.com</span>

            <span>13 Jun 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">228 FTEC</span>
      </div>

    </div>

    <div class="middle__table-container" *ngIf="tabLvl2">
      <div class="middle__table-container-item">
        <h4>Samar Ostacha</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>barometre@mail.ru</span>

            <span>17 Jul 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">29 FTEC</span>
      </div>

      <div class="middle__table-container-item">
        <h4>Korona Avona</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>devial@hotmail.com</span>

            <span>12 Jun 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">113 FTEC</span>
      </div>

      <div class="middle__table-container-item">
        <h4>Sorbona Vagona</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>tutter_valina@urk.net</span>

            <span>18 Jul 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">812 FTEC</span>
      </div>
    </div>

    <div class="middle__table-container" *ngIf="tabLvl3">
      <div class="middle__table-container-item">
        <h4>Mabel Lambert</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>chance_bartoletti@hotmail.com3</span>

            <span>18 Jul 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">731 FTEC</span>
      </div>

      <div class="middle__table-container-item">
        <h4>Helen Verlini</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>verlini@hotmail.com</span>

            <span>18 Aug 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">991 FTEC</span>
      </div>

      <div class="middle__table-container-item">
        <h4>Katya Osadcha</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>katyusha@hotmail.com</span>

            <span>19 Aug 2018</span>
          </div>
        </div>

        <span class="container-item-profit align-right">31 FTEC</span>
      </div>
    </div>

  </div>

</div>