<app-referrals-popup [showPopupModal]="showPopupModal"></app-referrals-popup>

<div class="main-info main-info--support">

  <div class="middle middle--support-half">

    <div class="middle__support-container">
      <div class="support__container-item">
        <span class="support__container-item-text">Total referrals</span>

        <div class="support__counter">
          <span class="support__counter-text">{{totalReferrals}}</span>
        </div>
      </div>

      <div class="support__container-item">
        <span class="support__container-item-text">Your referral link</span>

        <div class="container__form container__form--refferals">
          <label for="" class="form__label">
            <input type="text" class="form__input form__input-button" [value]="referralLink">

            <button class="filter__container-button">Copy</button>
          </label>
        </div>
      </div>
    </div>

    <div class="middle__support-container middle__support-container--column">
      <span class="support__container-item-text">Information</span>

      <ul>
        <li>
          <span class="support__container-item-list">1. You will receive 10% of tokens spent on ftec.io by users involved by you. As soon as payout exceeds 100000 FTEC,
            the percentage automatically becomes 20%.</span>
        </li>
        <li>
          <span class="support__container-item-list">2. The minimum amount of tokens to withdraw is 1000 FTEC.</span>
        </li>

        <li>
          <span class="support__container-item-list">3. Withdrawal is possible only to ETH wallets.</span>
        </li>

        <li>
          <span class="support__container-item-list">4. Using branded traffic (phrases related to ftec.io) is forbidden.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="filter__container-aside filter__container-aside--refferals">
    <div class="middle__table-type">
      <span class="middle__table-type-name">
        Income
      </span>
    </div>

    <div class="container__wrapper container__wrapper--support">

      <div class="middle__table-container middle__table-container--support support__aside">

        <div class="middle__table-container--support">
          <h3 class="title">Available:</h3>

          <h3 class="title title--green">{{allTime-withdraw}} FTEC</h3>
        </div>

        <div class="middle__table-container--support">
          <span class="support__aside-time">Total withdraw:</span>

          <span class="support__aside-time">{{withdraw}} FTEC</span>
        </div>

        <div class="middle__table-container--support">
          <span class="support__aside-time">Total earned</span>

          <span class="support__aside-time">{{allTime}} FTEC</span>
        </div>

        <button class="filter__container-button" (click)="showPopup()">Withdraw</button>
      </div>

    </div>
  </div>

  <div class="middle middle--support" *ngIf="referrals">
    <div class="middle__head">
      <h5>Referred users</h5>
    </div>

    <div class="support__tab">
      <ul class="tab-controls">
        <li class="tab-controls-item" (click)="showTab1()" [ngClass]="{'is-active' : tabLvl1}">Lvl 1 Referrals ({{referrals.levelOne.length}})</li>
        <li class="tab-controls-item" (click)="showTab2()" [ngClass]="{'is-active' : tabLvl2}">Lvl 2 Referrals ({{referrals.levelTwo.length}})</li>
        <li class="tab-controls-item" (click)="showTab3()" [ngClass]="{'is-active' : tabLvl3}">Lvl 3 Referrals ({{referrals.levelThree.length}})</li>
      </ul>
    </div>

    <div class="middle__table-type middle__table-type--support">
      <span class="middle__table-type-name">
        User
      </span>

      <div class="middle__table-type-inner">
        <span class="middle__table-type-name">
          Email
        </span>

        <span class="middle__table-type-name align-right">
          Date registration
        </span>
      </div>

      <span class="middle__table-type-name align-right">
        Profit
      </span>
    </div>


    <div class="middle__table-container" *ngIf="tabLvl1">
      <div class="middle__table-container-item" *ngFor="let ref1 of referrals.levelOne">
        <h4>{{ref1.username}}</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>{{ref1.email}}</span>

            <span>{{ref1.creationDate | date: 'dd MMM yyyy'}}</span>
          </div>
        </div>

        <span class="container-item-profit align-right">{{ref1.balance}} FTEC</span>
      </div>

    </div>

    <div class="middle__table-container" *ngIf="tabLvl2">
      <div class="middle__table-container-item" *ngFor="let ref2 of referrals.levelTwo">
        <h4>{{ref2.username}}</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>{{ref2.email}}</span>

            <span>{{ref2.creationDate | date: 'dd MMM yyyy'}}</span>
          </div>
        </div>

        <span class="container-item-profit align-right">{{ref2.balance}} FTEC</span>
      </div>

    </div>

    <div class="middle__table-container" *ngIf="tabLvl3">
      <div class="middle__table-container-item" *ngFor="let ref3 of referrals.levelThree">
        <h4>{{ref3.username}}</h4>

        <div class="item-inner">
          <div class="item-inner-line item-inner-line--support">
            <span>{{ref3.email}}</span>

            <span>{{ref3.creationDate | date: 'dd MMM yyyy'}}</span>
          </div>
        </div>

        <span class="container-item-profit align-right">{{ref3.balance}} FTEC</span>
      </div>

    </div>

  </div>

</div>