<div class="main-info main-info--telegram">
  <div class="middle middle--telegram">
    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line">
        <span class="text">Notification when logging in</span>
        <figure class="button__change"></figure>
      </div>
      <div class="middle__table-line">
        <span class="text">Notification when logging in</span>
        <figure class="button__change"></figure>
      </div>
      <button class="filter__container-button" (click)="showModal()">Save Changes</button>
    </div>
    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line">
        <span class="text">Telegram assistant is enabled and linked to user {{userName}} ({{userId}}).</span>
      </div>
      <div class="middle__table-line">
        <span class="text">
          <a class="link__accent" href="tg://resolve?domain={{botDomain}}" target="_blank">Go to chat</a>
        </span>
        <figure class="button__change is-active"></figure>
      </div>
      <button class="filter__container-button" (click)="showModal()">DISABLE ASSISTANT</button>
    </div>
  </div>
</div>