<div class="wrapper">
  <app-info-popup collapsedText="How does the Telegram Assistant module work?" openedText="This section is in development"></app-info-popup>
  <div class="main-info main-info--telegram">
  <div class="middle middle--telegram">
    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line" *ngFor="let notification of notifications">
        <span class="text">{{notificationMapper[notification]}}</span>
        <figure class="button__change" (click)="changeNotification(notification)" [ngClass]="{'is-active' : currentUserService.notificationSettings[notification].telegram}"></figure>
      </div>
      <button class="filter__container-button" (click)="showModal()">Save Changes</button>
    </div>
    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line">
        <span class="text">Telegram assistant is enabled and linked to user {{currentUserService.tgSettings.username}} ({{currentUserService.tgSettings.chatId}}).</span>
      </div>
      <div class="middle__table-line">
        <span class="text">
          <a class="link__accent" href="tg://resolve?domain={{botDomain}}" target="_blank">Go to chat</a>
        </span>
      </div>
      <button class="filter__container-button" (click)="unlink()">DISABLE ASSISTANT</button>
    </div>
  </div>
</div>
</div>
