<div class="wrapper">
  <app-info-popup collapsedText="How does the Telegram Assistant module work?"
                  openedText="1. The user creates or logs into the telegram account
using an official desktop or mobile application.
2. The user gets into the personal office in the web version of the Ftec service
and go to the settings page.
3. The settings page has a button that opens any
accessible telegram application (mobile, desktop, web version).
4. Using the given vocation, the user goes to
chat with assistant. The user writes '/ start'  within the chat or clicks
to the appropriate button.
5. Then, on the «Ftec» service  web page
settings for telegram helpers appear.
6. After selecting the desired settings, the user saves all
Settings. The bot is ready to work and will send the appropriate ones
notification to the user."></app-info-popup>
  <div class="main-info main-info--telegram">
  <div class="middle middle--telegram">
    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line" *ngFor="let notification of notifications">
        <span class="text">{{notificationMapper[notification]}}</span>
        <figure class="button__change" (click)="changeNotification(notification)" [ngClass]="{'is-active' : currentUserService.notificationSettings[notification].telegram}"></figure>
      </div>
      <button class="filter__container-button" (click)="showModal()">Save Changes</button>
    </div>
    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line">
        <span class="text">Telegram assistant is enabled and linked to user {{currentUserService.tgSettings.username}} ({{currentUserService.tgSettings.chatId}}).</span>
      </div>
      <div class="middle__table-line">
        <span class="text">
          <a class="link__accent" href="tg://resolve?domain={{botDomain}}" target="_blank">Go to chat</a>
        </span>
      </div>
      <button class="filter__container-button" (click)="unlink()">DISABLE ASSISTANT</button>
    </div>
  </div>
</div>
</div>
