<div class="main-info">

  <div class="middle--settings">

    <div class="settings__container">
      <div class="middle__table-type">
        <h5>User information</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container">

          <div class="filter__container">
            <span class="container__name">First Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="David" type="text">
            </div>
          </div>

          <div class="filter__container">
            <span class="container__name">Last Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="Harleystorf" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="settings__container">
      <div class="middle__table-type">
        <h5>User information</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container">

          <div class="filter__container">
            <span class="container__name">First Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="David" type="text">
            </div>
          </div>

          <div class="filter__container">
            <span class="container__name">Last Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="Harleystorf" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="settings__container">
      <div class="middle__table-type">
        <h5>User information</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container">

          <div class="filter__container">
            <span class="container__name">First Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="David" type="text">
            </div>
          </div>

          <div class="filter__container">
            <span class="container__name">Last Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="Harleystorf" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="settings__container">
      <div class="middle__table-type">
        <h5>User information</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container">

          <div class="filter__container">
            <span class="container__name">First Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="David" type="text">
            </div>
          </div>

          <div class="filter__container">
            <span class="container__name">Last Name</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-categories" min="20" placeholder="Harleystorf" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>