
  <div class="aside-right aside-right--test">

      <div class="test__status">
  
        <div class="test__status-lines">
          <span>Questions:</span>
  
          <span class="test__status-lines-score">1/22</span>
        </div>
  
        <div class="test__status-lines">
          <span>Correct:</span>
  
          <span class="test__status-lines-score">0</span>
        </div>
  
  
        <div class="test__status-lines">
          <span>Mistakes:</span>
  
          <span class="test__status-lines-score">0</span>
        </div>
  
        <div class="test__status-progress">
          <span>Test progress:</span>
  
          <div class="test__status-progress-item">
            <span class="status__progress-width">5%</span>
          </div>
        </div>
  
        <a href="javascript:void(0)" class="filter__container-button button--crypto button--status">
          < &nbsp; &nbsp;Back to academy</a>
      </div>
  
    </div>