<div class="aside-right aside-right--test">

    <div class="test__status">

        <div class="test__status-lines">
            <span>Questions:</span>

            <span class="test__status-lines-score">{{questionId}}/{{_testStatusService.total}}</span>
        </div>

        <div class="test__status-lines">
            <span>Correct:</span>

            <span class="test__status-lines-score">{{_testStatusService.correct}}</span>
        </div>


        <div class="test__status-lines">
            <span>Mistakes:</span>

            <span class="test__status-lines-score">{{_testStatusService.mistakes}}</span>
        </div>

        <div class="test__status-progress">
            <span>Test progress:</span>

            <div class="test__status-progress-item">
                <span class="status__progress-width" [ngStyle]="{'width': this._testStatusService.passed * 100 / this._testStatusService.total + '%'}">
                    {{this._testStatusService.passed * 100 / this._testStatusService.total | number:'0.0-1'}}%
                </span>
            </div>
        </div>

        <a [routerLink]="'/modules/cryptoacademy'" class="filter__container-button button--crypto button--status">
            < &nbsp; &nbsp;Back to academy</a>
    </div>

</div>