<div class="main-info main-info--telegram">

  <div class="middle middle--telegram">

    <div class="middle__table middle__table--telegram">
      <div class="middle__table-line">
        <span class="text">Notification when logging in</span>

        <figure class="button__change"></figure>
      </div>

      <div class="middle__table-line">
        <span class="text">Notification when logging in</span>

        <figure class="button__change"></figure>
      </div>

      <button class="filter__container-button">Save Changes</button>
    </div>

  </div>

</div>