<div class="main-info main-info__empty">

  <div class="middle middle--empty middle--empty-frame">

    <div class="middle--empty-frame">

        <iframe width="800" height="450" src="https://www.youtube.com/embed/OUgNhih-W6o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="text-block">
        <h3 class="title-block">Telegram Assistant</h3>
        <p>
          The Telegram Assistant is designed to provide ecosystem users with access to key features of the service and their profile information. The main advantage of Telegram-assistant is its mobility since it is fully integrated into a reliable and well-known messenger for most of the traders.</p>
      </div>

    </div>

  </div>

  <div class="middle middle--empty middle--empty-bottom">
    <h5 class="middle__empty-title">Page is under construction</h5>

    <div class="middle__empty-buttons">
      <a href="https://ftec.io/" class="button button--empty">Main page</a>

      <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
    </div>
  </div>

</div>