<div class="main-info main-info--behavioral">
  <div class="middle middle--trp">

    <div class="middle__head middle__head--trp">
      <ul class="tab-controls tab-controls--trp">
        <li class="tab-controls-item tab-controls-item--trp is-active">My portfolio</li>
        <li class="tab-controls-item tab-controls-item--trp">3 days</li>
        <li class="tab-controls-item tab-controls-item--trp">7 days</li>
      </ul>
    </div>

    <div class="middle__block">

      <div class="person__block">
        <div class="person__container">
          <div class="person__container-inner">
            <div class="person__heading">
              <img src="../../../../assets/images/group-4.png" alt="">

              <div class="person__heading-info">
                <span>Satoshinakamoto</span>

                <span>Rating: 1 |</span>
              </div>

              <span class="person__heading-time">1d:6h</span>
            </div>

            <div class="person__info">

              <div class="person__info-stats">
                <span class="info__stats-title">Forecast</span>
                <span class="title--green">Active</span>
              </div>

              <div class="person__info-stats">
                <span>Pair:</span>

                <span>BTC/ETH</span>
              </div>

              <div class="person__info-stats">
                <span>Stock:</span>

                <span>HitBTC</span>
              </div>

              <div class="person__info-stats">
                <span>Type:</span>

                <span>Long</span>
              </div>

              <div class="person__info-stats">
                <span>Price:</span>

                <span>Free</span>
              </div>

              <div class="person__info-stats">
                <span>Forecasting period:</span>

                <span>3d</span>
              </div>

              <div class="person__info-stats">
                <span>Increase:</span>

                <div class="info__stats-double">
                  <span>+100</span>
                  <span>-80</span>
                </div>
              </div>

              <button class="filter__container-button">Buy</button>

              <a class="person__info-link" href="javascript:void(0)">Full information</a>
            </div>
          </div>
        </div>

        <div class="person__container">
          <div class="person__container-inner">
            <div class="person__heading">
              <img src="../../../../assets/images/group-4.png" alt="">

              <div class="person__heading-info">
                <span>Satoshinakamoto</span>

                <span>Rating: 1 |</span>
              </div>

              <span class="person__heading-time">1d:6h</span>
            </div>

            <div class="person__info">

              <div class="person__info-stats">
                <span class="info__stats-title">Forecast</span>
                <span class="title--green">Active</span>
              </div>

              <div class="person__info-stats">
                <span>Pair:</span>

                <span>BTC/ETH</span>
              </div>

              <div class="person__info-stats">
                <span>Stock:</span>

                <span>HitBTC</span>
              </div>

              <div class="person__info-stats">
                <span>Type:</span>

                <span>Long</span>
              </div>

              <div class="person__info-stats">
                <span>Price:</span>

                <span>Free</span>
              </div>

              <div class="person__info-stats">
                <span>Forecasting period:</span>

                <span>3d</span>
              </div>

              <div class="person__info-stats">
                <span>Increase:</span>

                <div class="info__stats-double">
                  <span>+100</span>
                  <span>-80</span>
                </div>
              </div>

              <button class="filter__container-button">Buy</button>

              <a class="person__info-link" href="javascript:void(0)">Full information</a>
            </div>
          </div>
        </div>

        <div class="person__container">
          <div class="person__container-inner">
            <div class="person__heading">
              <img src="../../../../assets/images/group-4.png" alt="">

              <div class="person__heading-info">
                <span>Satoshinakamoto</span>

                <span>Rating: 1 |</span>
              </div>

              <span class="person__heading-time">1d:6h</span>
            </div>

            <div class="person__info">

              <div class="person__info-stats">
                <span class="info__stats-title">Forecast</span>
                <span class="title--green">Active</span>
              </div>

              <div class="person__info-stats">
                <span>Pair:</span>

                <span>BTC/ETH</span>
              </div>

              <div class="person__info-stats">
                <span>Stock:</span>

                <span>HitBTC</span>
              </div>

              <div class="person__info-stats">
                <span>Type:</span>

                <span>Long</span>
              </div>

              <div class="person__info-stats">
                <span>Price:</span>

                <span>Free</span>
              </div>

              <div class="person__info-stats">
                <span>Forecasting period:</span>

                <span>3d</span>
              </div>

              <div class="person__info-stats">
                <span>Increase:</span>

                <div class="info__stats-double">
                  <span>+100</span>
                  <span>-80</span>
                </div>
              </div>

              <button class="filter__container-button">Buy</button>

              <a class="person__info-link" href="javascript:void(0)">Full information</a>
            </div>
          </div>
        </div>

        <div class="person__container">
          <div class="person__container-inner">
            <div class="person__heading">
              <img src="../../../../assets/images/group-4.png" alt="">

              <div class="person__heading-info">
                <span>Satoshinakamoto</span>

                <span>Rating: 1 |</span>
              </div>

              <span class="person__heading-time">1d:6h</span>
            </div>

            <div class="person__info">

              <div class="person__info-stats">
                <span class="info__stats-title">Forecast</span>
                <span class="title--green">Active</span>
              </div>

              <div class="person__info-stats">
                <span>Pair:</span>

                <span>BTC/ETH</span>
              </div>

              <div class="person__info-stats">
                <span>Stock:</span>

                <span>HitBTC</span>
              </div>

              <div class="person__info-stats">
                <span>Type:</span>

                <span>Long</span>
              </div>

              <div class="person__info-stats">
                <span>Price:</span>

                <span>Free</span>
              </div>

              <div class="person__info-stats">
                <span>Forecasting period:</span>

                <span>3d</span>
              </div>

              <div class="person__info-stats">
                <span>Increase:</span>

                <div class="info__stats-double">
                  <span>+100</span>
                  <span>-80</span>
                </div>
              </div>

              <button class="filter__container-button">Buy</button>

              <a class="person__info-link" href="javascript:void(0)">Full information</a>
            </div>
          </div>
        </div>

        <div class="person__container">
          <div class="person__container-inner">
            <div class="person__heading">
              <img src="../../../../assets/images/group-4.png" alt="">

              <div class="person__heading-info">
                <span>Satoshinakamoto</span>

                <span>Rating: 1 |</span>
              </div>

              <span class="person__heading-time">1d:6h</span>
            </div>

            <div class="person__info">

              <div class="person__info-stats">
                <span class="info__stats-title">Forecast</span>
                <span class="title--green">Active</span>
              </div>

              <div class="person__info-stats">
                <span>Pair:</span>

                <span>BTC/ETH</span>
              </div>

              <div class="person__info-stats">
                <span>Stock:</span>

                <span>HitBTC</span>
              </div>

              <div class="person__info-stats">
                <span>Type:</span>

                <span>Long</span>
              </div>

              <div class="person__info-stats">
                <span>Price:</span>

                <span>Free</span>
              </div>

              <div class="person__info-stats">
                <span>Forecasting period:</span>

                <span>3d</span>
              </div>

              <div class="person__info-stats">
                <span>Increase:</span>

                <div class="info__stats-double">
                  <span>+100</span>
                  <span>-80</span>
                </div>
              </div>

              <button class="filter__container-button">Buy</button>

              <a class="person__info-link" href="javascript:void(0)">Full information</a>
            </div>
          </div>
        </div>

        <div class="person__container">
          <div class="person__container-inner">
            <div class="person__heading">
              <img src="../../../../assets/images/group-4.png" alt="">

              <div class="person__heading-info">
                <span>Satoshinakamoto</span>

                <span>Rating: 1 |</span>
              </div>

              <span class="person__heading-time">1d:6h</span>
            </div>

            <div class="person__info">

              <div class="person__info-stats">
                <span class="info__stats-title">Forecast</span>
                <span class="title--green">Active</span>
              </div>

              <div class="person__info-stats">
                <span>Pair:</span>

                <span>BTC/ETH</span>
              </div>

              <div class="person__info-stats">
                <span>Stock:</span>

                <span>HitBTC</span>
              </div>

              <div class="person__info-stats">
                <span>Type:</span>

                <span>Long</span>
              </div>

              <div class="person__info-stats">
                <span>Price:</span>

                <span>Free</span>
              </div>

              <div class="person__info-stats">
                <span>Forecasting period:</span>

                <span>3d</span>
              </div>

              <div class="person__info-stats">
                <span>Increase:</span>

                <div class="info__stats-double">
                  <span>+100</span>
                  <span>-80</span>
                </div>
              </div>

              <button class="filter__container-button">Buy</button>

              <a class="person__info-link" href="javascript:void(0)">Full information</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--volume">
      <h5>
        Find windows
      </h5>

    </div>


    <form action="" class="aside-right__filter">

      <div class="filter__container-double">
        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Exchange</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>

        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Timeframe</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>
        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Exchange</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>

        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Timeframe</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>
        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Exchange</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>

        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Timeframe</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>
        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Exchange</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>

        </div>

        <div class="filter__container filter__container--analyzer">
          <span class="container__name">Timeframe</span>

          <div class="container__form container__form--select is-active">

            <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

          </div>
        </div>
      </div>



      <button class="filter__container-button">Search</button>
    </form>


  </div>


</div>
