<div class="msg-line">
    <div class="msg-line__content">
        <div class="msg-item">
            <div class="msg-item__title">
                <h2>Trading Recommendations Platform</h2>
            </div>
            <div class="msg-item__text">
                <p>The FTEC Trading Recommendations Platform with adaptive ratings is a platform for content
                    publishing (mainly articles and trading recommendations) from experienced traders and analysts.</p>
            </div>
        </div>
        <button type="button" class="msg-line__close"></button>
    </div>
</div>
<div class="main-info main-info--behavioral">
    <div class="middle middle--trp">

        <ul class="tab-controls tab-controls--trp">
            <li class="tab-controls-item tab-controls-item--trp" [ngClass]="{'is-active': !activeTab}"
                (click)="activeTab = 0">Trading recommendations
            </li>
            <li class="tab-controls-item tab-controls-item--trp" [ngClass]="{'is-active': activeTab === 1}"
                (click)="activeTab = 1">My recommendations
            </li>
            <li class="tab-controls-item tab-controls-item--trp" [ngClass]="{'is-active': activeTab === 2}"
                (click)="activeTab = 2">Create recommendations
            </li>
        </ul>

        <div class="middle__block">


            <!-- BEGIN custom-tab-content -->
            <div class="custom-tab-content">
                <ul class="custom-tab-content__list">
                    <li class="custom-tab-content__one" *ngIf="!activeTab">

                        <app-all-recommendations *ngIf="!recommendationId && recommendations" [recommendations]="recommendations"
                                                 (changeRecommendationId)="changeRecommendation($event)"></app-all-recommendations>
                        <app-recommendation-view *ngIf="recommendationId && recommendation" [recommendation]="recommendation"></app-recommendation-view>

                    </li>
                    <li class="custom-tab-content__one" *ngIf="activeTab === 1">
                        <app-my-recommendations (changeRecommendationId)="changeRecommendation($event)"></app-my-recommendations>
                    </li>
                    <li class="custom-tab-content__one" *ngIf="activeTab === 2">
                        <app-create-recommendation (changeRecommendationId)="changeRecommendation($event)"></app-create-recommendation>
                    </li>
                </ul>
            </div>
            <!-- END custom-tab-content -->


        </div>

    </div>
    <div class="aside-right">
        <div class="aside-right__head aside-right__head--volume">
            <h5>
                Find windows
            </h5>

        </div>


        <form action="" class="aside-right__filter">

            <div class="filter__container-double">
                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Exchange</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>

                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Timeframe</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>
                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Exchange</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>

                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Timeframe</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>
                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Exchange</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>

                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Timeframe</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>
                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Exchange</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>

                </div>

                <div class="filter__container filter__container--analyzer">
                    <span class="container__name">Timeframe</span>

                    <div class="container__form container__form--select is-active">

                        <app-dropdown [label]="'Exchange'" [items]="pairs"></app-dropdown>

                    </div>
                </div>
            </div>


            <button class="filter__container-button">Search</button>
        </form>


    </div>
</div>
