<div class="crypto__tab-wrapper">
    <div class="crypto__tab-container">
      <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

      <div class="crypto__tab-info">
        <h5 class="crypto__info-title">Do you know crypto?</h5>

        <span class="crypto__info-subtitle">Begginer</span>

        <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

        <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
      </div>
    </div>

    <div class="crypto__tab-container">
      <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

      <div class="crypto__tab-info">
        <h5 class="crypto__info-title">Do you know crypto?</h5>

        <span class="crypto__info-subtitle">Begginer</span>

        <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

        <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
      </div>
    </div>

    <div class="crypto__tab-container">
      <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

      <div class="crypto__tab-info">
        <h5 class="crypto__info-title">Do you know crypto?</h5>

        <span class="crypto__info-subtitle">Begginer</span>

        <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

        <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
      </div>
    </div>

    <div class="crypto__tab-container">
      <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

      <div class="crypto__tab-info">
        <h5 class="crypto__info-title">Do you know crypto?</h5>

        <span class="crypto__info-subtitle">Begginer</span>

        <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

        <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
      </div>
    </div>
  </div>