@import "../../../assets/styles/variables";

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  height: 5.938rem;

  background-color: $dark-blue;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__left-bar {
  top: 0.125rem;
  display: none;
  position: relative;
}

.header__info {
  width: 80%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__info-title {
  width: 70%;
}

.header__info-title h2 {
  font-weight: 500;
  font-size: 1.500em;
}

.header__info-user {
  width: 30%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.user-balance {
  padding: 0.313rem;
  padding-left: 0.938em;
  padding-right: 0.938em  ;

  font-weight: 400;
  font-size: .938rem;
  cursor: pointer;
  background-image: $blue-gradient;
  border-radius: 1.250rem;
}

.header__user-account {
  top: 0.125rem;
  cursor: pointer;
  position: relative;
}

.user-account-block {
  z-index: 2;
  top: 2.500em;
  right: -3.125em;
  display: none;
  position: absolute;

  color: $black;
  border-radius: 0.313rem;
  background-color: $white;
}

.user-account-block.is-active {
  display: block;
}

.user-account-block-triangle {
  width: 0;
  height: 0;
  left: 7.875em;
  bottom: 0.313em;
  position: relative;

  border-left: 0.313rem solid transparent;
  border-right: 0.313rem solid transparent;
  border-bottom: 0.313rem solid $white;
}

.user__block-head {
  padding: .938em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 0.063rem solid $grey;
}

.user__block-link-item {
  padding: 1.250em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;

  color: $grey;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user__block-link-item svg {
  opacity: .5;
  margin-right: .938rem;
}

.user__block-link-item .item__svg-el {
  fill: $black;
}

.user__block-link-item:last-child {
  border-bottom-left-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}

.user__block-link-item:hover,
.user__block-link-item:hover .item__svg-el,
.user__block-link-item:hover svg {
  color: $dark-blue;
  opacity: 1;
  background-color: $light-grey;
}

.user__block-head-balance {
  color: $accent;
}

/* Dropdown */

.dropdown-button {
  top: 0.500rem;
  width: 1.125rem;
  height: 0.875rem;
  position: relative;
  cursor: pointer;

  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}

.middle2 {
  top: .375rem;
  width: 100%;
}

.bar {
  height: 0.125rem;
  position: absolute;

  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;

  background-color: $accent;
}

.top {
  top: 0;
  width: 50%;
}

.middle {
  top: 1.375rem;
  width: 100%;
}

.bottom {
  width: 50%;
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top.bar.left {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.top.bar.right {
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.bottom.bar.left {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.bottom.bar.right {
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.dropdown-button.is-active .top.bar.left {
  -webkit-transform: translate(0.125rem, -0.063em) rotate(45deg) scaleX(1.25);
  -moz-transform: translate(0.125rem, -0.063em) rotate(45deg) scaleX(1.25);
  -ms-transform: translate(0.125rem, -0.063em) rotate(45deg) scaleX(1.25);
  -o-transform: translate(0.125rem, -0.063em) rotate(45deg) scaleX(1.25);
  transform: translate(0.125rem, -0.063em) rotate(45deg) scaleX(1.25);
}

.dropdown-button.is-active .top.bar.right {
  -webkit-transform: translate(-0.125rem, -0.063em) rotate(-45deg) scaleX(1.25);
  -moz-transform: translate(-0.125rem, -0.063em) rotate(-45deg) scaleX(1.25);
  -ms-transform: translate(-0.125rem, -0.063em) rotate(-45deg) scaleX(1.25);
  -o-transform: translate(-0.125rem, -0.063em) rotate(-45deg) scaleX(1.25);
  transform: translate(-0.125rem, -0.063em) rotate(-45deg) scaleX(1.25);
}

.dropdown-button.is-active .bottom.bar.left {
  -webkit-transform: translate(0.125rem, 0.125rem) rotate(-45deg) scaleX(1.25);
  -moz-transform: translate(0.125rem, 0.125rem) rotate(-45deg) scaleX(1.25);
  -ms-transform: translate(0.125rem, 0.125rem) rotate(-45deg) scaleX(1.25);
  -o-transform: translate(0.125rem, 0.125rem) rotate(-45deg) scaleX(1.25);
  transform: translate(0.125rem, 0.125rem) rotate(-45deg) scaleX(1.25);
}

.dropdown-button.is-active .bottom.bar.right {
  -webkit-transform: translate(-0.125rem, 0.125rem) rotate(45deg) scaleX(1.25);
  -moz-transform: translate(-0.125rem, 0.125rem) rotate(45deg) scaleX(1.25);
  -ms-transform: translate(-0.125rem, 0.125rem) rotate(45deg) scaleX(1.25);
  -o-transform: translate(-0.125rem, 0.125rem) rotate(45deg) scaleX(1.25);
  transform: translate(-0.125rem, 0.125rem) rotate(45deg) scaleX(1.25);
}

.dropdown-button.is-active .middle2.bar {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}