@import "../../assets/styles/variables";

.content__login {
  width: 30%;
  margin: auto;
  padding: 2.500rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container__form--restore {
  display: none;
}

.content__login-first {
  display: flex;
  justify-content: center;
}

.content--registration {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content--confirm {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content__confirm--email {
  display: flex;
}

.content__confirm {
  width: 50%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login__container-title {
  text-align: center;
  margin-bottom: 1.250em;
}

.content__container {
  margin-bottom: 1.250em;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container__name {
  width: 100%;
  display: block;
  font-size: .938em;
}

.form__login-accept {
  width: 50%;
  margin: 0 auto;
  margin-top: 3.750em;
  padding: .938rem;
  outline: none;
  color: $white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 28px;
  background: $blue-gradient;
}

.wrapper--registration {
  height: inherit;
}

.button__outline--confirm {
  padding: .938rem;
  padding-left: 2.500rem;
  padding-right: 2.500rem;
}

.form__info-text {
  width: 100%;
}

.form__info--login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form__restore-accept {
  margin-top: 0;
}

.restore-sent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $violet-gradient-aside;
}

.restore-sent__content {
  width: 50%;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.restore-sent__conent h2 {
  font-size: 4em;
  color: $accent;
}

.restore-sent__conent p {
  margin: .938em;
}

.restore-sent__content-info {
  font-size: 1.250em;
}

.filter__container-button--restore-sent {
  width: initial;
  margin-top: 4em;
}




