<div class="main-info main-info__empty">

  <div class="middle middle--empty middle--empty-frame">

    <div class="middle--empty-frame">

        <iframe width="800" height="450" src="https://www.youtube.com/embed/10BRHu6P-y4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="text-block">

        <h3 class="title-block">Anomalous Volume Dynamics Analyzer
          </h3>
        <p>
            We have developed an assistant, which analyzes trading volumes in real time on the smallest of available timeframes and detects each individual increase in the trading volume. This allows to clearly record anomalous situations, where the volume increase significantly exceeds the average result on the exchange or a specific cryptocurrency.</p>
      </div>

    </div>

  </div>

  <div class="middle middle--empty middle--empty-bottom">
    <h5 class="middle__empty-title">Page is under construction</h5>

    <div class="middle__empty-buttons">
      <a href="https://ftec.io/" class="button button--empty">Main page</a>

      <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
    </div>
  </div>

</div>