
.error-field--arbitrage {
  margin-top: 0.750em;
}

.form__info--arbitrage {
  margin-bottom: 1.250rem;
  height: 1.250rem;

}

.item-inner-line-error-block--empty{
  display: block;
}

.middle__table-container--empty{
  position: relative;
}

.item-inner-line-error-block--empty {
  width: 100%;
  display: flex;
  justify-content: center;
  position: initial;
  transform: initial;
  margin: 0 auto;
}

.item-inner-line-error-block--empty span {
  display: block;
  margin-left: 80px;
}

.item-inner-line-error-block--empty .item-inner-line--error-icon {
  top: 25%;
  left: 21%;
  right: initial !important;
}
