@import "../../../assets/styles/variables";

.notify {
  z-index: 997;
  right: -100%;
  bottom: 0;
  max-width: 400px;
  margin-left: .938em;
  padding: 2em;
  position: fixed;
  display: flex;
  align-items: center;

  border: 1px solid $light-violete;
  border-radius: .625rem;
  background-color: $dark-blue;

  display: none;
}

.notify.is-active {
  right: .938em;
}

.notify svg {
  margin-right: 1.250em;
  display: none;
}

.notify__inner span {
  font-size: 1.125em;
}

.notify__inner p {
  font: .938em;
  opacity: .5;
}

.notify.notify--bad .bad {
  display: block;
}

.notify.notify--good .good {
  display: block;
}