<div class="wrapper">
  <app-info-popup collapsedText="How does the Smart Trading Module work?" openedText="This section is in development"></app-info-popup>
  <div class="main-info main-info--smart">

  <div class="middle middle--smart">

    <div class="smart__item" *ngFor="let bot of bots">
      <div class="smart__container" [ngClass]="{'is-active': bot.active}">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">{{bot.name}} Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>{{bot.currencyPairs}}</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>{{bot.tradingTime}}</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>{{bot.successRate}}</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>{{bot.fails}}</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">{{bot.profitWeek}}</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">{{bot.profitMonth}}</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">{{bot.profit90}}</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">{{bot.accuracy}}</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good" (click)="stopTrading()" *ngIf="bot.active">Stop trading</button>
        <button class="filter__container-button button--smart-good" (click)="changeBot(bot)" *ngIf="!bot.active">Change bot</button>
      </div>
    </div>

  </div>

  <div class="middle">
    <div class="graph">
      <div class="graph__container">
        <img src="../../../../assets/images/group-3.png" alt="">
        <!-- <div class="graph__container-line">
          <span>My profit</span>

          <span>+30%</span>
        </div> -->
      </div>
    </div>

    <div class="smart__table" *ngIf="history && history.length">

      <div class="middle__table-type">
        <span class="middle__table-type-name">
          Pair
        </span>

        <div class="middle__table-type-inner">
          <span class="middle__table-type-name middle__table-type-name--dashboard">
            Profit
          </span>

          <span class="middle__table-type-name align-right">
            Stock
          </span>
        </div>

        <span class="middle__table-type-name align-right">
          Transaction Date
        </span>
      </div>

      <div class="middle__table--dashboard">

        <div class="middle__table-container middle__table-container--dashboard" *ngFor="let item of history">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>{{item.pair}}</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">{{item.profit}}</span>
                <span class="">{{item.stock}}</span>
              </div>

            </div>
            <span class="container-item-balance align-right">{{item.date | date: 'dd MMM yyyy HH:mm'}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="filter__container-aside filter__container-aside--smart">

    <div class="middle__table-type">
      <span class="middle__table-type-name--dashboard">
        Connected Exchanges
      </span>
    </div>
    <div class="container__wrapper container__wrapper--smart">

      <div class="filter__table--filter" *ngFor="let key of keys">
        <div class="middle__table-container middle__table-container--dashboard" [ngClass]="{'is-active': exchange === key.stock.nameToSend}"
        (click)="chooseExchange(key.stock.nameToSend)">
          <div class="middle__table-container-stocs">
            <div class="stocs__container is-active">
              <div class="stocs__item-image">
                <img [src]="'../../../../assets/images/' + key.stock.imageURL" alt="">
              </div>

              <div class="stocs__text">
                <span>{{key.stock.name}}</span>

                <span class="stocs__text-connected">connected</span>
              </div>
            </div>
            <h4 class="table-container-item--name table-container-item--dashboard">
              <span>Private: {{key.privateKey}}***</span>

              <span>Public: {{key.publicKey}}***</span>
            </h4>

            <!-- <button class="button__outline button__outline--dashboard" (click)="route()">Install API keys</button> -->
          </div>
        </div>
      </div>

      <div class="filter__table--filter" *ngFor="let exchange of unusedExchanges">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img [src]="'../../../../assets/images/' + exchange.imageURL" alt="">
              </div>

              <div class="stocs__text">
                <span>{{exchange.name}}</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="route()">Install API keys</button>
          </div>
        </div>
      </div>

    </div>

    <div class="smart__table">

      <div class="middle__table-type">
        <span class="middle__table-type-name--smart">
          Maximal trading amount:
        </span>
      </div>

      <div class="smart__signals">
        <form action="" class="aside-right__filter" *ngIf="preferences">
        <div class="filter__container">
          <input type="number" min="0" class="form__input" placeholder="Maximal trading amount"
                 [(ngModel)]="preferences.maxTrade" [ngModelOptions]="{standalone: true}">
        </div>
          <button class="filter__container-button" (click)="changeMaxTrade()">Save</button>
        </form>

      </div>
    </div>
  </div>

</div>
</div>
