<div class="main-info">

  <div class="middle middle--smart">

    <div class="smart__item">
      <div class="smart__container is-active">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">Conservative Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>Any</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>2h,4h, 1d</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>57</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>34</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">8.00%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">47.90%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">88.70%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">62.64%</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good">Stop trading</button>
      </div>
    </div>

    <div class="smart__item">
      <div class="smart__container">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">Conservative Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>Any</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>2h,4h, 1d</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>57</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>34</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">8.00%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">47.90%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">88.70%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">62.64%</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good">Change bot</button>
      </div>
    </div>

    <div class="smart__item">
      <div class="smart__container">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">Conservative Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>Any</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>2h,4h, 1d</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>57</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>34</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">8.00%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">47.90%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">88.70%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">62.64%</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good">Change bot</button>
      </div>
    </div>

  </div>

</div>