<div class="main-info main-info--smart">

  <div class="middle middle--smart">

    <div class="smart__item">
      <div class="smart__container is-active">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">Conservative Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>Any</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>2h,4h, 1d</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>57</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>34</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">8.00%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">47.90%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">88.70%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">62.64%</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good">Stop trading</button>
      </div>
    </div>

    <div class="smart__item">
      <div class="smart__container">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">Conservative Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>Any</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>2h,4h, 1d</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>57</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>34</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">8.00%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">47.90%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">88.70%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">62.64%</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good">Change bot</button>
      </div>
    </div>

    <div class="smart__item">
      <div class="smart__container">

        <div class="smart__item-bot">
          <img src="../../../../assets/images/bot2.png" alt="">

          <div class="smart__item-bot-text">
            <span class="smart__bot-title">Conservative Bot</span>

            <span class="smart__bot-subtitle">Strategy description</span>
          </div>
        </div>

        <div class="smart__info">
          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Currency Pairs: </span>
              <span>Any</span>
            </div>

            <div class="smart__info-block-line">
              <span>Trading Time: </span>
              <span>2h,4h, 1d</span>
            </div>

            <div class="smart__info-block-line">
              <span>Success rate: </span>
              <span>57</span>
            </div>

            <div class="smart__info-block-line">
              <span>Fails: </span>
              <span>34</span>
            </div>
          </div>

          <div class="smart__info-block">
            <div class="smart__info-block-line">
              <span>Profit(week): </span>
              <span class="smart__line-dark">8.00%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(month): </span>
              <span class="smart__line-dark">47.90%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Profit(90days): </span>
              <span class="smart__line-dark">88.70%</span>
            </div>

            <div class="smart__info-block-line">
              <span>Accuracy: </span>
              <span class="smart__line-dark">62.64%</span>
            </div>
          </div>

        </div>

        <button class="filter__container-button button--smart-good">Change bot</button>
      </div>
    </div>

  </div>

  <div class="middle">
    <div class="graph">
      <div class="graph__container">
        <img src="../../../../assets/images/group-3.png" alt="">
        <!-- <div class="graph__container-line">
          <span>My profit</span>

          <span>+30%</span>
        </div> -->
      </div>
    </div>

    <div class="smart__table">

      <div class="middle__table-type">
        <span class="middle__table-type-name">
          Pair
        </span>

        <div class="middle__table-type-inner">
          <span class="middle__table-type-name middle__table-type-name--dashboard">
            Profit
          </span>

          <span class="middle__table-type-name align-right">
            Stock
          </span>
        </div>

        <span class="middle__table-type-name align-right">
          Transaction Date
        </span>
      </div>

      <div class="middle__table--dashboard">

        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>BTC/ETH</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">1.0</span>
                <span class="">Poloniex</span>
              </div>

            </div>
            <span class="container-item-balance align-right">3 May 2018 12:19</span>
          </div>
        </div>

        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>BTC/ETH</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">1.0</span>
                <span class="">Poloniex</span>
              </div>

            </div>
            <span class="container-item-balance align-right">3 May 2018 12:19</span>
          </div>
        </div>

        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>BTC/ETH</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">1.0</span>
                <span class="">Poloniex</span>
              </div>

            </div>
            <span class="container-item-balance align-right">3 May 2018 12:19</span>
          </div>
        </div>

        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>BTC/ETH</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">1.0</span>
                <span class="">Poloniex</span>
              </div>

            </div>
            <span class="container-item-balance align-right">3 May 2018 12:19</span>
          </div>
        </div>

        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>BTC/ETH</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">1.0</span>
                <span class="">Poloniex</span>
              </div>

            </div>
            <span class="container-item-balance align-right">3 May 2018 12:19</span>
          </div>
        </div>

        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-item middle__table-container-item--dashboard">
            <h4>BTC/ETH</h4>

            <div class="item-inner">
              <div class="item-inner-line">
                <span class="item-inner-line--dashboard item-inner-line__balance--positive">1.0</span>
                <span class="">Poloniex</span>
              </div>

            </div>
            <span class="container-item-balance align-right">3 May 2018 12:19</span>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="filter__container-aside filter__container-aside--smart">

    <div class="middle__table-type">
      <span class="middle__table-type-name--dashboard">
        Connected Exchanges
      </span>
    </div>
    <div class="container__wrapper container__wrapper--smart">

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/binance.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Binance</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/bittrex.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Bittrex</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/BITFINEX.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Bitfinex</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">

            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/bitstamp.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Bitstamp</span>

                <span class="stocs__text-connected">connected</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/HitBTC.png" alt="">
              </div>

              <div class="stocs__text">
                <span>HitBTC</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/poloniex.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Poloniex</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/KuCoin-Shares-icon.png" alt="">
              </div>

              <div class="stocs__text">
                <span>KuCoin</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/logo-square.png" alt="">
              </div>

              <div class="stocs__text">
                <span>CEX.IO</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/kraken.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Kraken</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/2117a262e1673ec13eb0552c4dc697c7-base.png" alt="">
              </div>

              <div class="stocs__text">
                <span>WEX.NZ</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/Okcoin.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Okcoin</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/huobi.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Huobi</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/SLIFyTa.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Cryptsy</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/okex.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Okex</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

      <div class="filter__table--filter">
        <div class="middle__table-container middle__table-container--dashboard">
          <div class="middle__table-container-stocs">
            <div class="stocs__container">
              <div class="stocs__item-image">
                <img src="../../../../assets/images/coinbase.png" alt="">
              </div>

              <div class="stocs__text">
                <span>Coinbase</span>
              </div>
            </div>

            <button class="button__outline button__outline--dashboard" (click)="showModal()">Change API Keys</button>
          </div>
        </div>
      </div>

    </div>

    <div class="smart__table">

      <div class="middle__table-type">
        <span class="middle__table-type-name--smart">
          When bot can send signals(UTC):
        </span>
      </div>

      <div class="smart__signals">

        <div class="signals__container">
          <span>00:00 - 04:00</span>

          <figure class="button__change is-active"></figure>
        </div>

        <div class="signals__container">
          <span>04:00 - 08:00</span>

          <figure class="button__change"></figure>
        </div>

        <div class="signals__container">
          <span>08:00 - 12:00</span>

          <figure class="button__change"></figure>
        </div>

        <div class="signals__container">
          <span>12:00 - 16:00</span>

          <figure class="button__change"></figure>
        </div>

        <div class="signals__container">
          <span>16:00 - 20:00</span>

          <figure class="button__change is-active"></figure>
        </div>

        <div class="signals__container">
          <span>20:00 - 24:00</span>

          <figure class="button__change is-active"></figure>
        </div>

      </div>
    </div>
  </div>

</div>