<div class="main-info main-info--support">

  <div class="middle middle--support">

    <div class="middle__head">
      Submit a request
    </div>

    <form #f="ngForm" class="aside-right__filter">

      <div class="filter__container">
        <span class="container__name">Your email adress</span>

        <div class="container__form">
          <label for="email" class="form__label"></label>
          <input name="email" [(ngModel)]="data.email" email
                 type="email" class="form__input" #email="ngModel" required>
        </div>

        <span class="error-field error-field--analyzer"
              *ngIf="email.invalid && (email.dirty || email.touched || submitted)">
          <p class="error-field" *ngIf="email.errors.required">Email is required</p>
          <p class="error-field" *ngIf="email.errors.email">Input a valid email</p>
        </span>

      </div>


      <div class="filter__container">
        <span class="container__name">Description</span>

        <div class="container__form container__form--arbitrage">
          <label for="" class="form__label"></label>
          <textarea name="message" [(ngModel)]="data.message" class="form__input form__textarea" #message="ngModel" required></textarea>
        </div>

        <span class="error-field error-field--analyzer"
              *ngIf="message.invalid && (message.dirty || message.touched || submitted)">
          <!--<p class="error-field" *ngIf="message.errors.required">Description is required</p>-->
        </span>

      </div>

      <div class="filter__container">
        <span class="container__name container__name--description">Please enter the details of your request. A member of our support staff will respond as soon as possible.</span>
      </div>

      <button class="filter__container-button" (click)="submitForm(f)">Submit</button>
    </form>

  </div>

</div>
