@import "../../../../assets/styles/variables";

.middle__block--price {
  margin-top: .563em;
}

.price__small-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 120px;
}

.small-container__line--price {
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
}

.small-container__line h2 {
  font-size: 1.5em;
}

.price__small-container-value {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: .7;
}

.price__small-container-connected {
  width: 70%;
}

.container__wrapper--price {
  margin-top: .625em;
  margin-bottom: 0;
  padding: 0;
  justify-content: flex-start;
}

.container__link--price,
.form__info-checkmark--price {
  width: 24px;
  height: 24px;
  margin-right: .313em;
}

.filter__container--price {
  margin: 0;
  padding: 0;
  display: flex;
}

.container__link--dashboard {
  margin-bottom: 10px;
}

.container__wrapper {
  margin-bottom: 20px;
}

.filter__container--price .container__form--select {
  margin-right: .625em;
}

.filter__container--select {
  width: 50%;
  margin-right: .625em;
}

.filter__container--select:last-child {
  margin-right: 0;
}

.filter__container--price .container__form--select {
  width: 100%;
}

.container__form--range {
  margin: 50px 0;
  background-color: transparent;
}

.price__small-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__outline--price {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-small--exchange {
  color: $white;
  opacity: 1;
}

.item-inner-line-error-block.item-inner-line-error-block--empty {
  text-align: center;
  margin: 0;
  margin-bottom: .938em;
  width: 100%;
}

.item-inner-line-error-block.item-inner-line-error-block--empty span {
  margin-left: 20px;
}

.notification-list{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  list-style: none;
  &__one{
    width: calc(50% - 10px);
    padding-bottom: 15px;
    &:nth-child(2n){
      margin-left: auto;
    }
  }

}

.notification-item{
  background: $violet-gradient-linear;
  padding: 15px;
  padding-top: 25px;
  border-radius: 13px;
  position: relative;
  p{
    opacity: 1;
  }
  &__remove{
    position: absolute;
    right: 15px;
    top: 25px;
    width: 16px;
    height: 16px;
    border:none;
    background-color: transparent;
    background-image:   url("../../../../assets/images/close.svg") ;
    background-size:    contain;
    background-repeat:  no-repeat;
    background-position:    center;
    opacity: .5;
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
      opacity: 1;
    }
  }
  &__info{
    list-style: none;
    li{
      display: flex;
      justify-content: space-between;
      +li{
        margin-top: 15px;
      }
      p{
        &:first-child{
          text-align: left;
          margin-right: auto;
          color: #b8e986;
        }
        &:last-child{
          margin-left: auto;
          text-align: right;
        }
        font-size: 14px;
        span{
          color: rgba(255, 255, 255, 0.5);
          display: block;
          line-height:1;
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
  }
  &__name{
    margin-bottom: 15px;
    p{
      font-size: 36px;
      line-height: 1;
    }
    span{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.51);
      display: block;
      line-height: 1.2;
    }
  }
  &__method{
    margin-top: 25px;
  }
}

.notification-methods{
  display: flex;
  list-style: none;
  li{
    +li{
      margin-left: 15px;
    }
  }
  &__link{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg,img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;

    }
    g{
    }
    &:hover{
      g{
        fill: #25cbd3;
      }
    }
  }
}

@media only screen and (max-width: 1400px){
  .notification-item__info li p{
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px){
  .notification-list__one{
    width: 100%;
  }
  .notification-item__name p{
    font-size: 26px;
    span{
      font-size: 16px;
    }
  }
}




