@import "../../../../assets/styles/variables";

.middle__block--price {
  margin-top: .563em;
}

.price__small-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 120px;
}

.small-container__line--price {
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
}

.small-container__line h2 {
  font-size: 1.5em;
}

.price__small-container-value {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: .7;
}

.price__small-container-connected {
  width: 70%;
}

.container__wrapper--price {
  margin-top: .625em;
  margin-bottom: 0;
  padding: 0;
  justify-content: flex-start;
}

.container__link--price,
.form__info-checkmark--price {
  width: 24px;
  height: 24px;
  margin-right: .313em;
}

.filter__container--price {
  margin: 0;
  padding: 0;
  display: flex;
}

.container__link--dashboard {
  margin-bottom: 10px;
}

.container__wrapper {
  margin-bottom: 20px;
}

.filter__container--price .container__form--select {
  margin-right: .625em;
}

.filter__container--select {
  width: 50%;
  margin-right: .625em;
}

.filter__container--select:last-child {
  margin-right: 0;
}

.filter__container--price .container__form--select {
  width: 100%;
}

.container__form--range {
  margin: 50px 0;
  background-color: transparent;
}

.price__small-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__outline--price {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-small--exchange {
  color: $white;
  opacity: 1;
}

.item-inner-line-error-block.item-inner-line-error-block--empty {
  text-align: center;
  margin: 0;
  margin-bottom: .938em;
}

.item-inner-line-error-block.item-inner-line-error-block--empty span {
  margin-left: 20px;
}
