@import "../../../../assets/styles/variables";

.middle__block--price {
  margin-top: -0.688em;
}

.price__small-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 120px;
}

.small-container__line--price {
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
}

.price__small-container-value {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.price__small-container-connected {
  width: 100%;
}

.container__wrapper--price {
  margin-top: .625em;
  margin-bottom: 0;
  padding: 0;
  justify-content: flex-start;
}

.container__link--price,
.form__info-checkmark--price {
  width: 24px;
  height: 24px;
  margin-right: .313em;
}

.filter__container--price {
  margin: 0;
  padding: 0;
}

.filter__block-container {
  display: flex;
}

.filter__container--select {
  width: 50%;
  margin-right: .625em;
}

.filter__container--select:last-child {
  margin-right: 0;
}