
<div class="container__form-select-block form__input">
    <span class="form__select-item form__select-item--active" (click)="opened = !opened"></span>

    <span class="form__select-item">{{ active? (keyName?active[keyName]:active): label }}</span>

    <div class="form__select-list" style="display: block" *ngIf="opened">
        <span class="form__select-list-item"
              (click)="select(null)">{{label}}</span>
        <ng-container *ngFor="let item of items">
            <span class="form__select-list-item"
                  (click)="select(item)" *ngIf="item !== active">{{keyName?item[keyName]:item}}</span>
        </ng-container>
    </div>
</div>
