<div class="middle middle--test">
    <div class="test">

      <h3 class="test__question">What is Blockchain?</h3>

      <div class="test__image">
        <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">
      </div>
      <div class="test__wrapper">

        <ul class="test__container">
          <li class="test__container-item is-active--red">
            <span class="test__container-answer"> It`s a platform where you can create online-services for crypto trading.
              <span class="test__item-percantage test__item--red">41%</span>
            </span>
            <span class="test__item-answer">No! A blockchain is a continuously growing list of records, called blocks, which are linked and secured using
              cryptography. Each block typically contains a cryptographic hash of the previous block, a timestamp, and transaction
              data.
            </span>
          </li>
          <li class="test__container-item">
            <span class="test__container-answer">It`s a crowdfunding tool, that can be described as an entry in data register.
              <span class="test__item-percantage test__item--red">24%</span>
            </span>
          </li>
          <li class="test__container-item is-active--green">
            <span class="test__container-answer">It`s an internal currency that can be described as an entry in data register.
              <span class="test__item-percantage test__item--green">15%</span>
            </span>

          </li>
          <li class="test__container-item">
            <span class="test__container-answer">It`s a chain of blocks that contain data, created according to certain rules.
              <span class="test__item-percantage test__item--red">20%</span>
            </span>
          </li>
        </ul>

        <a href="javascript:void(0)" class="filter__container-button button--crypto button--test">Next</a>
      </div>
    </div>
  </div>
<app-test-status class="test__status-ng"></app-test-status>

 