<div class="main-info">

  <div class="middle">

    <div class="container__middle container__middle--my-exchanges">

      <div class="middle middle--dashboard">
        <div class="middle__head middle__head--my-exchanges">
          <h5>
            Connected API's
          </h5>
        </div>

        <div class="middle__table-type middle__table-type--exchanges">
          <span class="middle__table-type-name middle__table-type-name--notifications">
            Key
          </span>

          <span class="middle__table-type-name middle__table-type-name--notifications middle__table-type-name--exchanges">
            Exchange
          </span>

          <span class="middle__table-type-name middle__table-type-name--notifications">
            Added at
          </span>
        </div>

        <div *ngFor="let key of _currentUserService.apiKeys">
          <div class="middle__table-container middle__table-container--dashboard">
            <div class="middle__table-container-item middle__table-container-item--dashboard">
              <h4 class="table-container-item--name">
                <span>Private: {{key.privateKey}}***</span><br><span>Public: {{key.publicKey}}***</span>
              </h4>
              <div class="item-inner item-inner--notifications item-inner--exchanges">
                {{key.stock}}
              </div>

              <span class="container-item-update item-inner--exchanges">{{key.savingDate | date:'yyyy-MM-dd HH:mm'}}</span>

              <button class="button__outline button__outeline--exchanges" (click)="deleteKeys(key)">delete</button>              
            </div>
          </div>

          <!--<div class="middle__table-container middle__table-container&#45;&#45;dashboard">-->
            <!--<div class="middle__table-container-item middle__table-container-item&#45;&#45;dashboard">-->
              <!--<h4 class="table-container-item&#45;&#45;name">Account 2</h4>-->


        </div>
      </div>

    </div>


  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--arbitrage">
      <h5>
        Connect to exchange using API
      </h5>
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__wrapper">

        <div class="filter__container filter__container--my-exchanges">
          <span class="container__name">Account type</span>

          <div class="container__form container__form--select is-active">
            <app-dropdown [label]="'Exchange'" [items]="exchanges"  [keyName]="'name'" (selected)="chooseStock($event)"></app-dropdown>
          </div>
          
        </div>

      </div>

      <div class="filter__container">
        <span class="container__name">API Key</span>

        <div class="container__form">
          <label for="text" class="form__label"></label>
          <input type="text" class="form__input" [(ngModel)]="publicKey" name="publicKey">
        </div>
      </div>

      <div class="filter__container">
        <span class="container__name">API Secret</span>

        <div class="container__form">
          <label for="text" class="form__label"></label>
          <input type="text" class="form__input" [(ngModel)]="privateKey" name="privateKey">
        </div>
      </div>

      <button class="filter__container-button" (click)="setKeys()">Get results</button>

      <a href="javascript:void(0)" class="filter__container-link">How to create an API key?</a>
    </form>
  </div>

</div>