<div class="main-info">

  <div class="middle">

    <div class="container__middle container__middle--my-exchanges">

      <div class="middle middle--dashboard">
        <div class="middle__head middle__head--my-exchanges">
          <h5>
            Connected API's
          </h5>
        </div>

        <div class="exchange-table">
          <table cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <td>Public Key</td>
                <td>Private Key</td>
                <td>Exchange</td>
                <td>Added at</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of _currentUserService.apiKeys">
                <td><span>{{key.publicKey}}***</span></td>
                <td><span>{{key.privateKey}}***</span></td>
                <td><span>{{key.stock.name}}</span></td>
                <td>
                  <div class="control">
                    <span>{{key.savingDate | date:'yyyy-MM-dd HH:mm'}}</span>
                    <button class="button__outline button__outeline--exchanges" (click)="deleteKeys(key)">delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



      </div>

    </div>


  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--arbitrage">
      <h5>
        Connect to exchange using API
      </h5>
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__wrapper">

        <div class="filter__container filter__container--my-exchanges">
          <span class="container__name">Account type</span>

          <div class="container__form container__form--select is-active">
            <app-dropdown [label]="'Exchange'" [items]="exchanges"  [keyName]="'name'" (selected)="chooseStock($event)"></app-dropdown>
          </div>
          
        </div>

      </div>

      <div class="filter__container">
        <span class="container__name">API Key</span>

        <div class="container__form">
          <label for="text" class="form__label"></label>
          <input type="text" class="form__input" [(ngModel)]="publicKey" name="publicKey">
        </div>
      </div>

      <div class="filter__container">
        <span class="container__name">API Secret</span>

        <div class="container__form">
          <label for="text" class="form__label"></label>
          <input type="text" class="form__input" [(ngModel)]="privateKey" name="privateKey">
        </div>
      </div>

      <button class="filter__container-button" (click)="setKeys()">Get results</button>

      <a (click)="_faqService.goToFaq(6)" class="filter__container-link">How to create an API key?</a>
    </form>
  </div>

</div>