@import "../../../../assets/styles/variables";

.container__middle--my-exchanges {
  width: 100%;
}

.middle__head--my-exchanges {
  padding: 1rem;
}

.filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__container--my-exchanges {
  width: 50%;
  padding: .313rem;
}

.filter__container-link {
  color: $accent;
  font-size: .938rem;
  text-decoration: underline;
}

.filter__container--my-exchanges {
  width: 100%;
}

.middle__table-type--exchanges {
  justify-content: flex-start;
}

.container-item-update--exchanges {
  width: 25%;
  height: initial;
  overflow: visible;
}

.item-inner--exchanges,
.middle__table-type-name--exchanges {
  width: 20%;
}

.button__outeline--exchanges {
  width: 20%;
}

.item-inner--exchanges {
  width: 16.66%;
  word-break: break-all;
  padding: 2px;
  font-size: 0.8em;
  margin-left: 0 !important;
}


.exchange-table{
  table{
    width: 100%;
    border:0;
    font-size:1.125rem;
    thead{
      tr{
        td{
          background: #0d003b;
          padding-top:0.625em;
          padding-bottom:0.625em;
          color: rgba(255, 255, 255, 0.51);
          &:first-child{
            border-top-left-radius: 8px;
            padding-left:1.125em;
          }
          &:last-child{
            border-top-right-radius: 8px;
            padding-right:1.125em;
          }
          &:nth-child(1),
          &:nth-child(2){
            width: 25%;
          }
          &:nth-child(3){
            width:16.66%;
          }
        }
      }
    }
    tbody{
      tr{
        td{
          background: #1B0244;
          padding-top:.938em;
          padding-bottom:.938em;
          font-size: 0.8em;
          font-weight:100;
          &:first-child{
            padding-left:1.125em;
          }
          &:last-child{
            padding-right:1.125em;
          }
          .control{
            display: flex;
            align-items: center;
            span{
              flex:none;
              padding-right: 10px;
            }
            button{
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .exchange-table{
    table{
      thead{
        tr{
          td{
            font-size:.75em;
            &:nth-child(1),
            &:nth-child(2){
              width: 20%;
            }
          }
        }
      }
      tbody{
        tr{
          td{
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 479px){
  .control{
    flex-direction: column;
    span{
      padding-right: 0;
      padding-bottom: 10px;
    }
  }
}


