@import "../../../../assets/styles/variables";

.container__middle--my-exchanges {
  width: 100%;
}

.middle__head--my-exchanges {
  padding: 1rem;
}

.filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__container--my-exchanges {
  width: 50%;
  padding: .313rem;
}

.filter__container-link {
  color: $accent;
  font-size: .938rem;
  text-decoration: underline;
}

.filter__container--my-exchanges {
  width: 100%;
}

.middle__table-type--exchanges {
  justify-content: flex-start;
}

.container-item-update--exchanges {
  width: 25%;
  height: initial;
  overflow: visible;
}

.item-inner--exchanges,
.middle__table-type-name--exchanges {
  width: 20%;
}

.button__outeline--exchanges {
  width: 20%;
}

.item-inner--exchanges {
  width: 25%;
}