<div class="wrapper">
    <app-info-popup collapsedText="How does the Telegram Assistant module work?"
                    [openedText]="howTo"></app-info-popup>
    <div class="main-info main-info--telegram">
        <div class="middle middle--telegram-enable">

            <h3 class="telegram-enable__title">To enable telegram assistant:</h3>

            <p>Follow the link and press 'Start'.<br> Link: <a target="_blank" class="link__accent"
                                                                  [href]="'http://t.me/' + _preferencesService.preferences.botDomain + '?start=-' + _currentUserService.tgSettings.accessCode">
                http://t.me/{{_preferencesService.preferences.botDomain}}?start=-{{_currentUserService.tgSettings.accessCode}}</a>
            </p>

            <p>Or scan the following QR code. It will redirect you to the chat with bot.</p>

            <p>Click 'Start' in the window of messenger.</p>

            <p>After the previous steps are completed, press the button 'Check if telegram linked' or reload the page to see
                bot's preferences.</p>


            <button class="filter__container-button" (click)="checkIfConnected()">Check if telegram linked</button>
        </div>
        <div class="aside-right">
            <div class="aside-right__head">
                <div class="qr-wrapper">
                    <qrcode colordark="#250643"
                            [qrdata]="'tg://resolve?domain=FTEC_Telegram_bot&start=-' + _currentUserService.tgSettings.accessCode"
                            [level]="'L'"></qrcode>
                </div>
            </div>
        </div>
    </div>

</div>
