<div class="main-info main-info--support">

  <div class="middle--support">

    <div class="middle__head">
      Submit a request
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__container">
        <span class="container__name">Your email adress</span>

        <div class="container__form">
          <label for="email" class="form__label"></label>
          <input type="email" class="form__input">
        </div>

      </div>

      <div class="filter__container">
        <span class="container__name">Password</span>

        <div class="container__form">
          <label for="" class="form__label"></label>
          <input type="password" class="form__input">
        </div>

      </div>


      <div class="filter__container">
        <span class="container__name">Description</span>

        <div class="container__form container__form--arbitrage">
          <label for="" class="form__label"></label>
          <textarea type="text" class="form__input form__textarea"></textarea>
        </div>

      </div>

      <div class="filter__container">
        <span class="container__name container__name--description">Please enter the details of your request. A member of our support staff will respond as soon as possible.</span>
      </div>

      <div class="filter__container">

        <span class="container__name">Attachments</span>

        <div class="container__form container__form--arbitrage">
          <label for="" class="form__label"></label>
          <div class="form__input form__input--insert">
            <a href="javascript:void(0)" class="form__input--link">Add file</a>
            or drop files here</div>
        </div>

      </div>

      <button class="filter__container-button" (click)="submitForm()">Submit</button>
    </form>

  </div>

</div>