<div class="main-info">

    <div class="middle middle--crypto">

        <div class="crypto">
            <div class="crypto__tab">
                <ul class="tab-controls">
                    <li class="tab-controls-item">Fundamental Analysis</li>
                    <li class="tab-controls-item">Technical Analysis</li>
                    <li class="tab-controls-item">Tests</li>
                    <li class="tab-controls-item">Forecasting</li>
                </ul>

                <div class="crypto__tab-wrapper">
                    <div class="crypto__tab-container">
                        <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

                        <span class="test-progress">13/20</span>

                        <div class="crypto__tab-info">
                            <h5 class="crypto__info-title">Do you know crypto?</h5>

                            <span class="crypto__info-subtitle">Begginer</span>

                            <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

                            <a [routerLink]="['test', '34343']" class="filter__container-button button--crypto">Begin</a>
                        </div>
                    </div>

                    <div class="crypto__tab-container">
                        <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

                        <div class="crypto__tab-info">
                            <h5 class="crypto__info-title">Do you know crypto?</h5>

                            <span class="crypto__info-subtitle">Begginer</span>

                            <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

                            <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
                        </div>
                    </div>

                    <div class="crypto__tab-container">
                        <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

                        <div class="crypto__tab-info">
                            <h5 class="crypto__info-title">Do you know crypto?</h5>

                            <span class="crypto__info-subtitle">Begginer</span>

                            <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

                            <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
                        </div>
                    </div>

                    <div class="crypto__tab-container">
                        <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

                        <div class="crypto__tab-info">
                            <h5 class="crypto__info-title">Do you know crypto?</h5>

                            <span class="crypto__info-subtitle">Begginer</span>

                            <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

                            <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>