<div class="main-info">

    <div class="middle middle--crypto">

        <div class="crypto">
            <div class="crypto__tab">
                <ul class="tab-controls">
                    <li class="tab-controls-item">Fundamental Analysis</li>
                    <li class="tab-controls-item">Technical Analysis</li>
                    <li class="tab-controls-item is-active">Tests</li>
                    <li class="tab-controls-item">Forecasting</li>
                </ul>

                <div class="crypto__tab-wrapper" *ngIf="tests">
                    <div class="crypto__tab-container" *ngFor="let test of tests">
                        <img [src]="test.image" alt="">

                        <span *ngIf="test.lastQuestion > 1 && test.lastQuestion !== test.total" class="test-progress">{{test.lastQuestion - 1}}/{{test.total}}</span>
                        <span *ngIf="test.lastQuestion === test.total" class="test-progress">Completed</span>

                        <div class="crypto__tab-info">
                            <h5 class="crypto__info-title">{{test.name}}</h5>

                            <span class="crypto__info-subtitle">{{test.level}}</span>

                            <p class="crypto__info-text">{{test.description}}</p>


                            <a (click)="goToTest(test)" class="filter__container-button button--crypto">{{(test.lastQuestion > 1) ? 'Continue' : 'Begin'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>