<div class="main-info main-info--portfolio">

  <div class="middle middle--portfolio">

    <div class="portfolio__graph">
      <div class="portfolio__graph-item">
        <img src="../../../../assets/images/group-4.png" alt="">
      </div>

      <div class="graph__right">
        <div class="graph__right-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>

        <div class="graph__right-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>

        <div class="graph__right-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>
      </div>

      <div class="graph__under">
        <div class="graph__under-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>

        <p>Looks like your portfolio needs to be rebalanced!</p>

        <button class="filter__container-button filter__container-button--portfolio">rebalance</button>
      </div>
    </div>
  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--arbitrage">
      <h5>
        Set new notifications
      </h5>
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__container">
        <span class="container__name">Currency Pair</span>

        <div class="container__form container__form--select is-active">
          <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
        </div>


      </div>


      <div class="filter__container">
        <span class="container__name">Currency Pair</span>

        <div class="container__form container__form--select is-active">
          <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
        </div>

      </div>


      <div class="filter__container">
        <span class="container__name">Exchanges</span>

        <div class="container__form container__form--select is-active">
          <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
        </div>

      </div>

      <button class="filter__container-button">Add notification</button>
      <span class="graph__bottom-text">To save changes rebalance your portfolio</span>
    </form>

  </div>

  <div class="middle__double--portfolio">

    <div class="double__container">
      <div class="double__container-inner">
        <div class="double__container-line">
          <span>Portfolio Profit</span>

          <span>+1.345 BTC</span>
        </div>

        <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="small-container__svg" height="128px" version="1.1" viewBox="0 0 408 128"
          width="408px" xmlns="http://www.w3.org/2000/svg">

          <title>FA94B569-74DC-483A-BA2C-8B6779167D74</title>
          <desc>Created with sketchtool.</desc>
          <defs>
            <rect height="168" id="path-1" rx="10" width="408" x="0" y="0"></rect>
            <linearGradient id="linearGradient-3" x1="50%" x2="50%" y1="0%" y2="96.2729814%">
              <stop offset="0%" stop-color="#3F8AFD" stop-opacity="0.6"></stop>
              <stop offset="100%" stop-color="#3B0855" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient id="linearGradient-4" x1="0%" x2="100%" y1="100%" y2="94.5041463%">
              <stop offset="0%" stop-color="#3F8AFD"></stop>
              <stop offset="100%" stop-color="#9C0D66"></stop>
            </linearGradient>
          </defs>
          <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
            <g id="FTEC-Platform_Module-14" transform="translate(-316.000000, -593.000000)">
              <g id="Group-6" transform="translate(316.000000, 408.000000)">
                <g id="Group-3" transform="translate(0.000000, 156.000000)">
                  <g id="Path-4">
                    <mask fill="white" id="mask-2">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="-" opacity="0.15"></g>
                    <path d="M-20.4306078,80.1078295 C-6.30299732,57.2028551 16.8515725,45.9371625 49.0331015,46.3107516 C122.467139,47.1632331 143.403436,139.369222 188.112794,139.369222 C232.822152,139.369222 242.581727,69.7486294 270.559584,69.7486294 C304.389135,69.7486294 307.610614,98.1489122 333.474005,98.1489122 C381.802982,98.1489122 396.993295,60.4119759 432,60 C455.337804,59.7253494 457.366862,93.5505921 438.087174,161.475728 L-31.1085044,161.475728 L-20.4306078,80.1078295 Z"
                      fill="url(#linearGradient-3)" mask="url(#mask-2)"></path>
                    <path d="M-20.340176,64.2645317 C-6.17803076,41.1913336 17.03314,29.8429011 49.2933362,30.219234 C122.906882,31.0779765 143.894357,123.961165 188.713006,123.961165 C233.531655,123.961165 243.315088,53.8292493 271.361336,53.8292493 C305.273583,53.8292493 308.502936,82.4381157 334.42955,82.4381157 C382.876666,82.4381157 408.439721,36.4150016 443.531999,36"
                      mask="url(#mask-2)" stroke="url(#linearGradient-4)"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="double__container">
      <div class="double__container-inner">
        <div class="double__container-line">
          <span>Portfolio Profit</span>

          <span>+1.345 BTC</span>
        </div>

        <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="small-container__svg" height="128px" version="1.1" viewBox="0 0 408 128"
          width="408px" xmlns="http://www.w3.org/2000/svg">

          <title>FA94B569-74DC-483A-BA2C-8B6779167D74</title>
          <desc>Created with sketchtool.</desc>
          <defs>
            <rect height="168" id="path-1" rx="10" width="408" x="0" y="0"></rect>
            <linearGradient id="linearGradient-3" x1="50%" x2="50%" y1="0%" y2="96.2729814%">
              <stop offset="0%" stop-color="#3F8AFD" stop-opacity="0.6"></stop>
              <stop offset="100%" stop-color="#3B0855" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient id="linearGradient-4" x1="0%" x2="100%" y1="100%" y2="94.5041463%">
              <stop offset="0%" stop-color="#3F8AFD"></stop>
              <stop offset="100%" stop-color="#9C0D66"></stop>
            </linearGradient>
          </defs>
          <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
            <g id="FTEC-Platform_Module-14" transform="translate(-316.000000, -593.000000)">
              <g id="Group-6" transform="translate(316.000000, 408.000000)">
                <g id="Group-3" transform="translate(0.000000, 156.000000)">
                  <g id="Path-4">
                    <mask fill="white" id="mask-2">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="-" opacity="0.15"></g>
                    <path d="M-20.4306078,80.1078295 C-6.30299732,57.2028551 16.8515725,45.9371625 49.0331015,46.3107516 C122.467139,47.1632331 143.403436,139.369222 188.112794,139.369222 C232.822152,139.369222 242.581727,69.7486294 270.559584,69.7486294 C304.389135,69.7486294 307.610614,98.1489122 333.474005,98.1489122 C381.802982,98.1489122 396.993295,60.4119759 432,60 C455.337804,59.7253494 457.366862,93.5505921 438.087174,161.475728 L-31.1085044,161.475728 L-20.4306078,80.1078295 Z"
                      fill="url(#linearGradient-3)" mask="url(#mask-2)"></path>
                    <path d="M-20.340176,64.2645317 C-6.17803076,41.1913336 17.03314,29.8429011 49.2933362,30.219234 C122.906882,31.0779765 143.894357,123.961165 188.713006,123.961165 C233.531655,123.961165 243.315088,53.8292493 271.361336,53.8292493 C305.273583,53.8292493 308.502936,82.4381157 334.42955,82.4381157 C382.876666,82.4381157 408.439721,36.4150016 443.531999,36"
                      mask="url(#mask-2)" stroke="url(#linearGradient-4)"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="double__container">
      <div class="double__container-inner">
        <div class="double__container-line">
          <span>Portfolio Profit</span>

          <span>+1.345 BTC</span>
        </div>

        <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="small-container__svg" height="128px" version="1.1" viewBox="0 0 408 128"
          width="408px" xmlns="http://www.w3.org/2000/svg">

          <title>FA94B569-74DC-483A-BA2C-8B6779167D74</title>
          <desc>Created with sketchtool.</desc>
          <defs>
            <rect height="168" id="path-1" rx="10" width="408" x="0" y="0"></rect>
            <linearGradient id="linearGradient-3" x1="50%" x2="50%" y1="0%" y2="96.2729814%">
              <stop offset="0%" stop-color="#3F8AFD" stop-opacity="0.6"></stop>
              <stop offset="100%" stop-color="#3B0855" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient id="linearGradient-4" x1="0%" x2="100%" y1="100%" y2="94.5041463%">
              <stop offset="0%" stop-color="#3F8AFD"></stop>
              <stop offset="100%" stop-color="#9C0D66"></stop>
            </linearGradient>
          </defs>
          <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
            <g id="FTEC-Platform_Module-14" transform="translate(-316.000000, -593.000000)">
              <g id="Group-6" transform="translate(316.000000, 408.000000)">
                <g id="Group-3" transform="translate(0.000000, 156.000000)">
                  <g id="Path-4">
                    <mask fill="white" id="mask-2">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="-" opacity="0.15"></g>
                    <path d="M-20.4306078,80.1078295 C-6.30299732,57.2028551 16.8515725,45.9371625 49.0331015,46.3107516 C122.467139,47.1632331 143.403436,139.369222 188.112794,139.369222 C232.822152,139.369222 242.581727,69.7486294 270.559584,69.7486294 C304.389135,69.7486294 307.610614,98.1489122 333.474005,98.1489122 C381.802982,98.1489122 396.993295,60.4119759 432,60 C455.337804,59.7253494 457.366862,93.5505921 438.087174,161.475728 L-31.1085044,161.475728 L-20.4306078,80.1078295 Z"
                      fill="url(#linearGradient-3)" mask="url(#mask-2)"></path>
                    <path d="M-20.340176,64.2645317 C-6.17803076,41.1913336 17.03314,29.8429011 49.2933362,30.219234 C122.906882,31.0779765 143.894357,123.961165 188.713006,123.961165 C233.531655,123.961165 243.315088,53.8292493 271.361336,53.8292493 C305.273583,53.8292493 308.502936,82.4381157 334.42955,82.4381157 C382.876666,82.4381157 408.439721,36.4150016 443.531999,36"
                      mask="url(#mask-2)" stroke="url(#linearGradient-4)"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="double__container">
      <div class="double__container-inner">
        <div class="double__container-line">
          <span>Portfolio Profit</span>

          <span>+1.345 BTC</span>
        </div>

        <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="small-container__svg" height="128px" version="1.1" viewBox="0 0 408 128"
          width="408px" xmlns="http://www.w3.org/2000/svg">

          <title>FA94B569-74DC-483A-BA2C-8B6779167D74</title>
          <desc>Created with sketchtool.</desc>
          <defs>
            <rect height="168" id="path-1" rx="10" width="408" x="0" y="0"></rect>
            <linearGradient id="linearGradient-3" x1="50%" x2="50%" y1="0%" y2="96.2729814%">
              <stop offset="0%" stop-color="#3F8AFD" stop-opacity="0.6"></stop>
              <stop offset="100%" stop-color="#3B0855" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient id="linearGradient-4" x1="0%" x2="100%" y1="100%" y2="94.5041463%">
              <stop offset="0%" stop-color="#3F8AFD"></stop>
              <stop offset="100%" stop-color="#9C0D66"></stop>
            </linearGradient>
          </defs>
          <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
            <g id="FTEC-Platform_Module-14" transform="translate(-316.000000, -593.000000)">
              <g id="Group-6" transform="translate(316.000000, 408.000000)">
                <g id="Group-3" transform="translate(0.000000, 156.000000)">
                  <g id="Path-4">
                    <mask fill="white" id="mask-2">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="-" opacity="0.15"></g>
                    <path d="M-20.4306078,80.1078295 C-6.30299732,57.2028551 16.8515725,45.9371625 49.0331015,46.3107516 C122.467139,47.1632331 143.403436,139.369222 188.112794,139.369222 C232.822152,139.369222 242.581727,69.7486294 270.559584,69.7486294 C304.389135,69.7486294 307.610614,98.1489122 333.474005,98.1489122 C381.802982,98.1489122 396.993295,60.4119759 432,60 C455.337804,59.7253494 457.366862,93.5505921 438.087174,161.475728 L-31.1085044,161.475728 L-20.4306078,80.1078295 Z"
                      fill="url(#linearGradient-3)" mask="url(#mask-2)"></path>
                    <path d="M-20.340176,64.2645317 C-6.17803076,41.1913336 17.03314,29.8429011 49.2933362,30.219234 C122.906882,31.0779765 143.894357,123.961165 188.713006,123.961165 C233.531655,123.961165 243.315088,53.8292493 271.361336,53.8292493 C305.273583,53.8292493 308.502936,82.4381157 334.42955,82.4381157 C382.876666,82.4381157 408.439721,36.4150016 443.531999,36"
                      mask="url(#mask-2)" stroke="url(#linearGradient-4)"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="double__container">
      <div class="double__container-inner">
        <div class="double__container-line">
          <span>Portfolio Profit</span>

          <span>+1.345 BTC</span>
        </div>

        <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="small-container__svg" height="128px" version="1.1" viewBox="0 0 408 128"
          width="408px" xmlns="http://www.w3.org/2000/svg">

          <title>FA94B569-74DC-483A-BA2C-8B6779167D74</title>
          <desc>Created with sketchtool.</desc>
          <defs>
            <rect height="168" id="path-1" rx="10" width="408" x="0" y="0"></rect>
            <linearGradient id="linearGradient-3" x1="50%" x2="50%" y1="0%" y2="96.2729814%">
              <stop offset="0%" stop-color="#3F8AFD" stop-opacity="0.6"></stop>
              <stop offset="100%" stop-color="#3B0855" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient id="linearGradient-4" x1="0%" x2="100%" y1="100%" y2="94.5041463%">
              <stop offset="0%" stop-color="#3F8AFD"></stop>
              <stop offset="100%" stop-color="#9C0D66"></stop>
            </linearGradient>
          </defs>
          <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
            <g id="FTEC-Platform_Module-14" transform="translate(-316.000000, -593.000000)">
              <g id="Group-6" transform="translate(316.000000, 408.000000)">
                <g id="Group-3" transform="translate(0.000000, 156.000000)">
                  <g id="Path-4">
                    <mask fill="white" id="mask-2">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="-" opacity="0.15"></g>
                    <path d="M-20.4306078,80.1078295 C-6.30299732,57.2028551 16.8515725,45.9371625 49.0331015,46.3107516 C122.467139,47.1632331 143.403436,139.369222 188.112794,139.369222 C232.822152,139.369222 242.581727,69.7486294 270.559584,69.7486294 C304.389135,69.7486294 307.610614,98.1489122 333.474005,98.1489122 C381.802982,98.1489122 396.993295,60.4119759 432,60 C455.337804,59.7253494 457.366862,93.5505921 438.087174,161.475728 L-31.1085044,161.475728 L-20.4306078,80.1078295 Z"
                      fill="url(#linearGradient-3)" mask="url(#mask-2)"></path>
                    <path d="M-20.340176,64.2645317 C-6.17803076,41.1913336 17.03314,29.8429011 49.2933362,30.219234 C122.906882,31.0779765 143.894357,123.961165 188.713006,123.961165 C233.531655,123.961165 243.315088,53.8292493 271.361336,53.8292493 C305.273583,53.8292493 308.502936,82.4381157 334.42955,82.4381157 C382.876666,82.4381157 408.439721,36.4150016 443.531999,36"
                      mask="url(#mask-2)" stroke="url(#linearGradient-4)"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>

  </div>

</div>
