@import "../../../../assets/styles/variables";

.main-info--portfolio {
  flex-wrap: wrap;
}

.portfolio__graph {
  padding: .625em;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(13, 0, 59, 0.5);
}

.portfolio__graph-item {
  flex: 1;
}

.graph__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graph__right-container {
  padding: 1.25em;
  display: flex;
  flex-direction: column;

  border-radius: .625rem;
  background: $violet-gradient-aside;
}

.graph__container-subtitle {
  opacity: .5;
  font-size: .938em;
  margin-bottom: .313em;
}

.graph__under {
  width: 100%;
  margin-top: .625em;
  padding: 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $violet-gradient-aside;
  border-radius: .625rem;
}

.graph__under p {
  width: 40%;
  color: $red;
}

.graph__under-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.filter__container-button--portfolio {
  width: 20%;
}

.graph__bottom-text {
  opacity: .5;
  text-align: center; 
  font-size: .938em;
}

.middle__double--portfolio {
  width: 100%;
  margin: .625em 0 0 -.625em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.double__container {
  width: 25%;
  padding: .625em 0 0 .625em;
}

.double__container-inner {
  padding: 1.250em;
  border-radius: .625em;
  background: $violet-gradient-aside;
}

.double__container svg {
  width: 100%;
}

.double__container-line {
  display: flex;
  justify-content: space-between;
}

.double__container-line span {
  font-weight: 100;
}

.l-portfolio__type-container {
  width: 100% !important;
  text-align: center;
}

.l-portfolio__type-container .order__type-item {
  width: 50%;
}

.filter__container--portfolio {
  flex-direction: row;
  margin: .938em;
  position: relative;
}

.filter__container--portfolio .form__info-label-container {
  position: relative;
  display: inline-block;
}

.tab-controls--portfolio,
.button__outline--portfolio{
  width: 100%;
}

.button__outline--portfolio {
  padding: 1.250em;
}

.middle__head--portfolio {
  padding-bottom: 0;
}

.portfolio__graph-info {
  width: 35%;
}

.graph__stats {
  margin-bottom: .625em;
}

.graph__stats:last-child {
  border-radius: .625rem;
  overflow: hidden;
}

.graph__stats-line-container {
  padding: .625em;
  background: linear-gradient(to left, #3d0957, #0d0130);
}

.graph__stats-line {
  display: flex;
  justify-content: space-between;
  font-size: .938em;
  font-weight: 100;
}

.graph__stats:first-child {
  overflow: hidden;
  border-bottom-left-radius: .625rem;
  border-bottom-right-radius: .625rem;
}

.graph__stats-line span:first-child {
  opacity: .39;
}

.portfolio__graph-img {
  width: 65%;
  object-fit: none;
}