<div class="main-info main-info--portfolio">

  <div class="middle middle--portfolio">

    <div class="portfolio__graph">
      <div class="portfolio__graph-item">
        <img src="../../../../assets/images/group-4.png" alt="">
      </div>

      <div class="graph__right">
        <div class="graph__right-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>

        <div class="graph__right-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>

        <div class="graph__right-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>
      </div>

      <div class="graph__under">
        <div class="graph__under-container">
          <span class="graph__container-subtitle">Term Remaining</span>

          <span class="graph__container-title">13 months 3 days</span>
        </div>

        <p>Looks like your portfolio needs to be rebalanced!</p>

        <button class="filter__container-button filter__container-button--portfolio">rebalance</button>
      </div>
    </div>
  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--arbitrage">
      <h5>
        Set new notifications
      </h5>
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__container">
        <span class="container__name">Timeframe</span>

        <div class="container__form container__form--select is-active">
          <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
        </div>
      </div>

      <span class="container__name">Size of the port</span>

      <div class="filter__container filter__container--volume-double">

        <div class="l-order__type-container l-portfolio__type-container">
              <span class="order__type-item is-active">BTC
                  <div class="order__type-container"></div>
              </span>
              <span class="order__type-item">USD
                  <div class="order__type-container"></div>
              </span>
        </div>
      </div>

      <div class="filter__container">
        <input type="number" class="form__input" placeholder="0.000001">
      </div>

      <span class="container__name">Number of coins</span>
      <app-slider (valueToSend)="getProfitPercent($event)"></app-slider>

      <div class="filter__container">
        <input type="number" class="form__input" placeholder="0.000001">
      </div>

      <div class="filter__container">
        <span class="container__name">Portfolio type</span>

        <label for="" class="form__label-container">
          Agressive
          <input type="checkbox" class="form__checkbox">
        </label>

        <label for="" class="form__label-container">
          Conversative
          <input type="checkbox" class="form__checkbox">
        </label>

        <label for="" class="form__label-container">
          Progressive
          <input type="checkbox" class="form__checkbox">
        </label>
      </div>


      <button class="filter__container-button">Generate portfolio</button>
      <span class="graph__bottom-text">To save changes rebalance your portfolio</span>
    </form>

  </div>


</div>