<div class="main-info main-info--portfolio">

  <div class="middle middle--portfolio">

    <div class="middle__head middle__head--portfolio">
      <ul class="tab-controls tab-controls--portfolio">
        <li class="tab-controls-item tab-controls-item--arbitrage is-active">My portfolio</li>
        <li class="tab-controls-item tab-controls-item--arbitrage">3 days</li>
        <li class="tab-controls-item tab-controls-item--arbitrage">7 days</li>
        <li class="tab-controls-item tab-controls-item--arbitrage">30 days</li>
        <li class="tab-controls-item tab-controls-item--arbitrage">90 days</li>
      </ul>
    </div>

    <div class="portfolio__graph">
      <img class="portfolio__graph-img" src="../../../../assets/images/group-4.png" alt="">

      <div class="portfolio__graph-info">
        <div class="graph__stats">

          <div class="middle__table-type">
            <span class="">
              Connected Exchanges
            </span>
          </div>

          <div class="graph__stats-line-container">
            <div class="graph__stats-line">
              <span>Timeframe:</span>

              <span>1 minute</span>
            </div>

            <div class="graph__stats-line">
              <span>Size of the port:</span>

              <span>0,000002</span>
            </div>

            <div class="graph__stats-line">
              <span>Number of coins:</span>

              <span>10</span>
            </div>

            <div class="graph__stats-line">
              <span>Portfolio type:</span>

              <span>Agressive</span>
            </div>
          </div>

        </div>


        <form action="" class="graph__stats">

          <div class="graph__stats-line-container">

            <span>Your last generated portfolio</span>

            <h3>15.05.18</h3>

            <button class="filter__container-button">Rebalance</button>

            <button class="button__outline button__outline--portfolio">Automatic Buy</button>
          </div>

        </form>
      </div>
    </div>

    <div class="middle__table-type">
        <span class="middle__table-type-name">
            Currency
        </span>

      <div class="middle__table-type-inner">
        <span class="middle__table-type-name">
            Price
        </span>

        <span class="middle__table-type-name align-right">
            Capitalization
        </span>
      </div>

      <span class="middle__table-type-name align-right">
          Increase, %
      </span>
    </div>

    <div class="middle__table-container middle__table-container--arbitrage">
      <div class="middle__table-container-item">

        <h4>ETH</h4>

        <div class="item-inner">
          <div class="item-inner-line">
            <span>1000</span>
            <span>390058</span>
          </div>
        </div>

        <span class="container-item-profit align-right title--green">15.31%</span>
      </div>
    </div>

  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--arbitrage">
      <h5>
        Set new notifications
      </h5>
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__container">
        <span class="container__name">Timeframe</span>

        <div class="container__form container__form--select is-active">
          <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
        </div>
      </div>

      <span class="container__name">Size of the port</span>

      <div class="filter__container filter__container--volume-double">

        <div class="l-order__type-container l-portfolio__type-container">
              <span class="order__type-item is-active">BTC
                  <div class="order__type-container"></div>
              </span>
              <span class="order__type-item">USD
                  <div class="order__type-container"></div>
              </span>
        </div>
      </div>

      <div class="filter__container">
        <input type="number" class="form__input" placeholder="0.000001">
      </div>

      <span class="container__name">Number of coins</span>
      <app-slider (valueToSend)="getProfitPercent($event)"></app-slider>

      <div class="filter__container">
        <input type="number" class="form__input" placeholder="0.000001">
      </div>

      <span class="container__name">Portfolio type</span>

      <div class="filter__container filter__container--portfolio">
        <label for="" class="form__info-label-container">
          Agressive
          <!--<input type="checkbox" class="form__checkbox">-->
          <span class="form__info-checkmark"></span>
        </label>

        <label for="" class="form__info-label-container">
          Conversative
          <!--<input type="checkbox" class="form__checkbox">-->
          <span class="form__info-checkmark"></span>
        </label>

        <label for="" class="form__info-label-container">
          Progressive
          <!--<input type="checkbox" class="form__checkbox">-->
          <span class="form__info-checkmark"></span>
        </label>
      </div>


      <button class="filter__container-button">Generate portfolio</button>
      <span class="graph__bottom-text">To save changes rebalance your portfolio</span>
    </form>

  </div>


</div>