@import "../../../../assets/styles/variables";

.middle__news {
  margin-top: 1.313rem;
}

.news__container {
  padding: .625em;
  margin-bottom: 1.250em;
  display: flex;
  flex-wrap: wrap;

  border-radius: .625rem;
  background-color: $dark-blue;
  border: solid 1px $light-violete;
}

.item-inner-line-error-block {
  padding: 1.250rem !important;
  margin-top: .938em;

  span {
    margin-left: 0;
  }
}

.closed::after{
  content: '';
  height: 100%;
  width: 100%;
  background: $dark-blue;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .625rem;
  z-index: 5;
}

.news__container--pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.news__container--page {
  border-radius: .625rem;
  background: #0d003b;
  border: solid 1px #69407b;
  margin: .938em .313em;
  padding: .625em .938em;
  transition: background .5ms ease;
  cursor: pointer;
}

.news__forecast-subtitle {
  position: absolute;
  opacity: 0.4;
  font-size: 0.925em;
  top: 1.425em;
}

.news__container--page.is-active {
   background-color: $light-violete;
 }

.news__container--page.is-active:hover {
  background-color: $light-violete;
}

.news__container--page:hover {
  background-color: $light-blue;
}

.news__container-main {
  padding-right: .625em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.news__container-info {
  display: flex;
  align-items: flex-start;
}

.news__container-info-title {
  width: 80%;
  font-size: 1.500em;
  color: $white;
}

.filter__container-button--news {
  width: 20%;
  padding: .313em;
  margin: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__container-date {
  margin: .625em 0;
}

.news__date-item {
  opacity: 0.5;
  font-size: 0.750em;
  color: $white;
}

.news__date-link {
  font-size: 0.750em;
  color: $accent;
}

.closed {
  position: relative;
}

.news__container-text  p {
  opacity: 1;
}

.news__container-forecast {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.news__container-forecast::before {
  content: '';
  top: 50%;
  left: 0;
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  transform: translateY(-50%);
  background-color: $light-violete;
}

.news__forecast-title {
  margin-bottom: 50px;

  opacity: 0.5;
  font-size: 1.125em;
  color: $white;
}

.news__forecast-item {
  font-size: 2em;
  color: $green;
}

.news__forecast-item--minus {
  color: $red;
}

.filter__container-block-item--categories {
  text-transform: uppercase;
}

/deep/ {
  .form__select-list {
    height: 200px;
    overflow: scroll;
  }
}