<div class="main-info main-info--mobile">

  <div class="middle--mobile">
    <div class="middle--mobile__container">
      <h3 class="middle--mobile__title">App Store</h3>

      <img src="../../../../assets/images/appleQRcode.png" alt="">
    </div>

    <div class="middle--mobile__container">
      <h3 class="middle--mobile__title">Google Play</h3>

      <img src="../../../../assets/images/googlPlayQRcode.png" alt="">
    </div>
  </div>

  <div class="aside-right--mobile">
    <div class="mobile-block">
      <video poster="../../../../assets/images/phone-mockup.png" autoplay="" muted="" loop="" playsinline="">
        <source src="../../../../assets/IphoneX.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </div>

    <div class="btn-block">
      <a class="store-btn apstore-btn" href="https://itunes.apple.com/us/app/ftec/id1365040387?mt=8" target="_blank"></a>
      <a class="store-btn gplus-btn" href="https://play.google.com/store/apps/details?id=ftec.app" target="_blank"></a>
    </div>
  </div>

</div>