@import "../../../../assets/styles/variables";

.main-info__head {

}

.main-info_head-item {

}

.head-item__text {

}

.head-item__text-price {

}

.head-item__icon {

}

.filter__container--header {
  border-radius: .313rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#3d0957), to(#0d0130));
  background-image: linear-gradient(to left, #3d0957, #0d0130);
}

.container-item__line {
  display: inherit;
}

.container-item__line-money {
  opacity: .5;
  color: $white;
}

.timeline-item {
  background: transparent;
  padding: .313rem;

  margin: 0 auto;
  height: 100%;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  height: 40%;
  
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  position: relative;
  
  background: linear-gradient(to right, rgba(225, 225, 225, 1) 0%, rgba(225, 225, 225, 0.7) 50%, rgba(225, 225, 225, 1) 100%);
  background-size: 800px 104px;
  border-radius: 5px;
}

.animated-background--red {
  height: 60%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, rgba(225, 128, 128, 1) 0%, rgba(225, 128, 128, 0.7) 50%, rgba(225, 128, 128, 1) 100%);
  background-size: 800px 104px;

}

.background-masker {
  background: $dark-blue;
  position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom {
  left: 0;
  right: 0;
}

.background-masker.header-top {
  top: 43px;
  left: 0;
  width: 100%;
  height: 8px;
}

.background-masker.header-left,
.background-masker.header-right {
  top: 0;
  left: 25px;
  height: 26px;
}

.background-masker.header-bottom {
  top: 20px;
  height: 8px;
}

.background-masker.header-right {
  width: 8px;
  left: 46px;
  right: 0;
}

.timeline-wrapper {
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.content__preloader{
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 76px;
}