@import "../../../../assets/styles/variables";

.main-info__head {

}

.main-info_head-item {

}

.head-item__text {

}

.head-item__text-price {

}

.head-item__icon {

}

.filter__container--header {
  border-radius: .313rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#3d0957), to(#0d0130));
  background-image: linear-gradient(to left, #3d0957, #0d0130);
}

.container-item__line {
  display: inherit;
}

.container-item__line-money {
  opacity: .5;
  color: $white;
}