<div class="main-info main-info--settings">

  <div class="middle--settings">

    <div class="settings__container">
      <div class="middle__table-type">
        <h5>User information</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container middle__table-container--settings">

          <form #fEmail="ngForm" class="filter__container-inner">
            <div class="settings__account">
              <img *ngIf="_currentUserService.user && !preloader" [src]="'api/images/' + _currentUserService.user.imageName" alt="" class="settings__container-image">
              <app-preloader *ngIf="preloader"></app-preloader>
              <div class="settings__account-buttons">
                <input style="display: none" accept="image/*" type="file" #uploader (change)="handleInputChange($event)">
                <button class="account__buttons-item filter__container-button" (click)="uploader.click()">Change photo</button>
                <button class="account__buttons-item button__outline" (click)="deleteImage()">Delete</button>
              </div>
            </div>

            <div class="filter__container-inner">
              <div class="filter__container">
                <span class="container__name">Email address</span>

                <div class="container__form">
                  <label class="form__label" for="text"></label>
                  <input class="form__input" id="input-first-name" min="20" name="email" [placeholder]="_currentUserService.user.email" type="email" ngModel>
                </div>
              </div>
            </div>
            <app-dropdown [items]="availibleLanguages" [label]="'English'"></app-dropdown>
          </form>

          <button class="filter__container-button filter__container-button--settings" (click)="changeEmail(fEmail.value)">Change</button>
        </div>
      </div>
    </div>

    <form #f="ngForm" class="settings__container">
      <div class="middle__table-type">
        <h5>Password</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container middle__table-container--settings">

          <div class="filter__container-inner">

            <div class="filter__container">
              <span class="container__name">Current password</span>

              <div class="container__form">
                <label class="form__label" for="text"></label>
                <input class="form__input" id="input-current-password" type="password" name="currentPassword" ngModel>
              </div>
            </div>
            <div class="filter__container">
              <span class="container__name">Password</span>

              <div class="container__form">
                <label class="form__label" for="text"></label>
                <input class="form__input" id="input-new-password" type="password" name="newPassword" ngModel>
              </div>
            </div>
          </div>

          <div class="filter__container">
            <span class="container__name">Password confirmation</span>

            <div class="container__form">
              <label class="form__label" for="text"></label>
              <input class="form__input" id="input-confirm-password" type="password" name="newPasswordConfirm" ngModel>
            </div>
          </div>

          <button class="filter__container-button filter__container-button--settings" (click)="changePassword(f.value)">Change password</button>
        </div>
      </div>
    </form>

    <div class="settings__container">
      <div class="middle__table-type">
        <h5>2FA</h5>
      </div>

      <div class="middle__table">

        <div class="middle__table-container middle__table-container--settings" *ngIf="!enabled">
          <h5 class="settings__container-qr settings__container-title">To secure your account it's recommended to enable Two-Factor Authentication. Click the button below and follow instructions</h5>

          <button class="filter__container-button filter__container-button--settings" (click)="enable2FA()">Enable</button>
        </div>

        <div class="middle__table-container middle__table-container--settings" *ngIf="enabled">

          <div class="filter__container-inner">

            <div class="settings__container-qr">
              <qrcode colordark="#250643" [qrdata]="qrUrl" [size]="150" [level]="'L'"></qrcode>

              <span>Scan this QR-code using Google Authenticator app. Attention! You won't be able to sign in without entering a code generated by this app.
              </span>
            </div>
          </div>

          <button class="filter__container-button filter__container-button--settings" (click)="disable2FA()">Disable</button>
        </div>
      </div>
    </div>

  </div>

</div>