<div class="main-info main-info--desktop">

  <div class="middle middle--desktop">

    <div class="desktop__container">
      <img src="../../../../assets/images/desktop-screen-second.png" class="desktop__container-image" alt="">

      <img src="../../../../assets/images/deskop-screen-first.png" class="desktop__container-image" alt="">
    </div>

    <div class="desktop__container desktop__container--last">
      <h3 class="desktop__container-text">First Trading Ecosystem. Manage your trading activity even offline.</h3>

      <p class="desktop__container-text">Stu Unger is one of the biggest superstars to have immerged from the professional poker world. Besides being a true
        poker genius and a three time World Series of Poker champion, Stu Unger had a fascinating life story. It was not
        surprising that after his death Stu was the subject of a biography and a biopic. </p>

      <div class="desktop__container-images">
        <img src="../../../../assets/images/apple-store-small.png" alt="">

        <img src="../../../../assets/images/windows-small.png" alt="">
      </div>
    </div>

  </div>

</div>