<div class="main-info main-info--desktop">

  <div class="middle middle--desktop">


    <div class="desktop__container">
      <img src="../../../../assets/images/desktop-screen-second.png" class="desktop__container-image" alt="">

      <img src="../../../../assets/images/deskop-screen-first.png" class="desktop__container-image" alt="">
    </div>

    <div class="desktop__container desktop__container--last">
      <h3 class="desktop__container-text">First Trading Ecosystem. Manage your trading activity even offline.</h3>

      <p class="desktop__container-text">Desktop App is a program solution for personal computers that provides
          access to all ecosystem functions. In addition, part of the functionality
          can be used offline.</p>

      <div class="desktop__container-images">
        <img src="../../../../assets/images/apple-store-small.png" alt="">

        <img src="../../../../assets/images/windows-small.png" alt="">
      </div>
    </div>


  </div>

</div>

