<div class="main-info main-info__empty">

  <div class="middle middle--empty middle--empty-frame">

    <div class="middle--empty-frame">

        <iframe width="800" height="400" src="https://www.youtube.com/embed/nFa0hUa7PQQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      <div class="text-block">

        <h3 class="title-block">Desktop App
        </h3>
        <p>
            A desktop app is an application for all popular operating systems. Because the use of the web version of the application is not always a convenient solution for really loaded systems with a large number of services. The need for such an application is fully motivated.</p>
      </div>

    </div>

  </div>

  <div class="middle middle--empty middle--empty-bottom">
    <h5 class="middle__empty-title">Page is under construction</h5>

    <div class="middle__empty-buttons">
      <a href="https://ftec.io/" class="button button--empty">Main page</a>

      <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
    </div>
  </div>

</div>