<div class="wrapperr">

    <main class="content content__login-first">

        <form class="content__login" #restoreForm="ngForm" (ngSubmit)="onSubmit(restoreForm)">

            <h1 class="login__container-title">
                Restore Password
            </h1>
            <!--<span class="error-field" *ngIf="errorResponse">{{errorResponse}}</span>-->
            <div class="content__container">

                <span class="container__name">Enter your username or e-mail</span>
                <div class="container__form">
                    <input type="email" [(ngModel)]="data" name="data" #username="ngModel" class="form__input" placeholder="Username or e-mail" required>
                </div>
                <span class="error-field" *ngIf="username.invalid && (username.touched || submitted)">This field is required</span>
            </div>


            <button class="form__login-accept form__restore-accept">
                Restore password
            </button>

        </form>

    </main>

</div>
