<div class="wrapper">

    <main class="content">

        <form class="content__login">

            <h1 class="login__container-title">
                Restore Password
            </h1>
            <!--<span class="error-field" *ngIf="errorResponse">{{errorResponse}}</span>-->
            <div class="content__container">
                <div class="container__form">
                    <input type="email" class="form__input" placeholder="Restore Code" required>
                </div>
                <span class="error-field" *ngIf="">This field is required</span>
            </div>
            <div class="content__container">
                <span class="container__name">Enter a new password</span>
                <div class="container__form">
                    <input type="email"  class="form__input" placeholder="Username or e-mail" required>
                </div>
                <span class="error-field" *ngIf="">This field is required</span>
            </div>
            <div class="content__container">
                <span class="container__name">Confirm a new password</span>
                <div class="container__form">
                    <input type="email"  class="form__input" placeholder="Username or e-mail" required>
                </div>
                <span class="error-field" *ngIf="">This field is required</span>
            </div>

            <button class="form__login-accept">
                Restore password
            </button>

        </form>

    </main>

</div>