<div class="wrapperr">

    <main class="content content__login-first">

        <form class="content__login" [formGroup]="restoreForm" (ngSubmit)="onSubmit()">

            <h1 class="login__container-title">
                Restore Password
            </h1>
            <span class="error-field" *ngIf="requestError">{{requestError}}</span>
            <div class="content__container">
                <div class="container__form container__form--restore">
                    <span class="content__container">Your code</span>
                    <input type="text" class="form__input" placeholder="Restore Code" name="hash" formControlName="restoreCode">
                </div>
                <span class="error-field" *ngIf="restoreCode.invalid">This field is required</span>
            </div>
            <div class="content__container" formGroupName="passwordGroup">
                <span class="container__name">Enter a new password</span>
                <div class="container__form">
                    <input type="password"  class="form__input" placeholder="New password" name="password" formControlName="password">
                </div>
                <span *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
                        <span class="error-field" *ngIf="password.errors.required">Password is required</span>
                        <span class="error-field" *ngIf="password.errors.pattern">
                            Password should be at least 8 symbols long and contain at least one capital letter and special symbol
                        </span>
                    </span>
            </div>
            <div class="content__container" formGroupName="passwordGroup">
                <span class="container__name">Confirm a new password</span>
                <div class="container__form">
                    <input type="password"  class="form__input" placeholder="Confirm a new password" formControlName="confirmPassword">
                </div>

                <span *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || submitted)">
                        <span class="error-field" *ngIf="confirmPassword.errors.required">Password is required</span>
                        <span class="error-field" *ngIf="confirmPassword.errors.pattern">
                            Password should be at least 8 symbols long and contain at least one capital letter, symbol and digit
                        </span>
                    </span>

                <span *ngIf="passwordGroup.errors && (passwordGroup.dirty || passwordGroup.touched || submitted)">
                        <span class="error-field" *ngIf="passwordGroup.errors.match">Confirmed password doesn't match</span>
                    </span>
            </div>

            <button class="form__login-accept">
                Restore password
            </button>

        </form>

    </main>

</div>
