<div class="main-info main-info--support">

  <div class="middle middle--support">

   <div class="middle__support-wrapper">
     <div class="middle__support-container">
       <div class="support__container-item">
        <span class="support__container-item-text">Total refferals</span>

        <div class="support__counter">
          <span class="support__counter-text">965</span>
        </div>
       </div>

       <div class="support__container-item">
         <span class="support__container-item-text">Your refferal link</span>

         <div class="container__form container__form--refferals">
           <label for="" class="form__label">
             <input type="text" class="form__input form__input-button" placeholder="https://ftec.io/?c=tc40073">

             <button class="filter__container-button">Copy</button>
           </label>

         </div>
       </div>
     </div>

     <div class="middle__support-container"></div>
   </div>

  </div>

</div>