@import "../../../../assets/styles/variables";

.global__small-container {
  justify-content: space-between;
}

.aside-right__head--global {
  padding-top: 1.875em;
}

.global__small-container-value {
  flex-direction: column;
  align-items: flex-start;
}

.global__small-container-value span,
.global__small-container-value h3 {
  font-weight: 100;
}

.filter__container--global .container__form--select {
  width: 100%;
}

.l-global__type-container {
  width: 100%;
  margin-top: .938em;
}

.global__type-item {
  width: 50%;
  text-align: center;
}

.aside-right__head--arbitrage {
  padding: 0;
}

.middle__table-container--global {
  width: 100%;
}

.middle--global {
  margin-top: .625em;
}

.filter__container-block-item--categories{
  text-transform: none;
}

.item-inner-line-error-block--empty--pair {
  cursor: pointer;
  position: relative;
}
.wrapper {
  display: block;
  width: 100%;
}
.item-inner-line-error-block.item-inner-line-error-block--empty {
  text-align: left !important;
  margin: 0;
  width: 100%;
  margin-bottom: .938em;
  margin-top: .938em;
}

.item-inner-line-error-block {
  justify-content: left;
  top: 0;
  left: 0;
  text-align: left !important;
}

.container-item-update.item-inner--exchanges.title--green{
  padding-left: 4em;
}

.msg-line__close.middle__table-type-name{
  height: 20px;
  padding-right:2em;
  position:relative;
}
