<div class="main-info main-info--price">

  <div class="middle middle--price">

    <div class="aside-right__head aside-right__head--arbitrage">Active orders</div>

    <div class="middle__block middle__block--price">

      <div class="behavioral__small-container-inner" *ngFor="let item of order">
        <div class="order__small-container">
          <div class="small-container__line small-container__line--price">
            <h2>{{item.pair}}</h2>

            <span class="text-small">{{item.exchange}}</span>
          </div>

          <div class="price__small-container-value order__small-container-value">
            <span class="small-container__line-link small-container__line-link--order">{{item.type}}</span>

            <span>{{item.profit}}</span>
          </div>

          <button class="filter__container-button filter__container-button--behavioral">Edit</button>
        </div>
      </div>

    </div>
  </div>

  <div class="aside-right">
    <div class="aside-right__head aside-right__head--arbitrage">
      <h5>
        Set new notifications
      </h5>
    </div>

    <form action="" class="aside-right__filter">

      <div class="filter__container">

        <div class="l-order__type-container">
          <span class="order__type-item is-active">Stop-loss
            <div class="order__type-container"></div>
          </span>
          <span class="order__type-item">Take-profit
            <div class="order__type-container"></div>
          </span>
        </div>
      </div>

      <div class="filter__container">
        <span class="container__name">Currency Pair</span>
        <div class="filter__container--price">

          <div class="container__form container__form--select is-active">
            <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
          </div>

          <div class="container__form container__form--select is-active">
            <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
          </div>

        </div>
      </div>

      <div class="filter__container">
        <span class="container__name">Exchanges</span>

        <div class="container__form container__form--select is-active">
          <app-dropdown [label]="'Exchange'" [items]="exchanges"></app-dropdown>
        </div>

      </div>


      <div class="filter__container">
        <span class="container__name">Current price</span>

        <div class="container__form">
          <span class="form__input form__input-locked">$763.90</span>
        </div>

      </div>


      <div class="filter__container">
        <span class="container__name">Amount to sell</span>

        <div class="container__form">
          <label for="" class="form__label"></label>
          <input type="number" class="form__input" placeholder="13ETH">
        </div>

      </div>

      <div class="filter__container">
        <span class="container__name">Price</span>

        <div class="container__form">
          <label for="" class="form__label"></label>
          <input type="number" class="form__input" placeholder="$840">
        </div>

      </div>

      <app-slider></app-slider>

      <button class="filter__container-button">Add order</button>
    </form>

  </div>

</div>