<div class="main-info main-info__empty">

  <div class="middle middle--empty middle--empty-frame">

    <div class="middle--empty-frame">

        <iframe width="800" height="450" src="https://www.youtube.com/embed/F3QpgXBtDeo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      <div class="text-block">
        <h3 class="title-block">Exchange Order Management Module</h3>
        <p>
          A very widespread and relevant problem of many cryptocurrency exchanges is the absence of the possibility to set Take-Profits
          and Stop-Losses at the same time. We are developing a module that will help to define the levels of Take-Profits
          and Stop-Losses, and also maximize profit from long-term trends.</p>
      </div>

    </div>

  </div>

  <div class="middle middle--empty middle--empty-bottom">
    <h5 class="middle__empty-title">Page is under construction</h5>

    <div class="middle__empty-buttons">
      <a href="https://ftec.io/" class="button button--empty">Main page</a>

      <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
    </div>
  </div>

</div>