
<h3 class="test__question">{{question.body.text}}</h3>

<div class="test__image">
    <img [src]="question.body.image" alt="">
</div>
<div class="test__wrapper">

    <ul class="test__container">
        <li class="test__container-item"
            *ngFor="let answer of question.answer" (click)="chooseAnswer(answer.id)"
            [ngClass]="{'is-active--red': response && (selected === answer.id) && (response.correctAnswer !== answer.id),
            'is-active--green': response && (response.correctAnswer === answer.id)}">
            <span class="test__container-answer"> {{answer.text}}
              <span *ngIf="response && response.questions[answer.id]"
                    class="test__item-percantage test__item--red"
                    [ngClass]="{'test__item--red': response && (response.correctAnswer !== answer.id),
            'test__item--green': response && (response.correctAnswer === answer.id)}">{{response.questions[answer.id]}}%</span>
            </span>
            <span *ngIf="response && (selected === answer.id)" class="test__item-answer">{{question.description}}</span>
        </li>
    </ul>

    <a (click)="goToNext()" class="filter__container-button button--crypto button--test">Next</a>
</div>