
<h3 class="test__question">{{question.body.text}}</h3>

<div class="test__image">
    <img class="test__image--answer" *ngIf="response && response.correctAnswer.image" @image #image alt="">
    <img [src]="'/api/crypto/images/' + test.id + '/' + questionId + '.png'" alt="">
</div>
<div class="test__wrapper">

    <ul class="test__container">
        <li class="test__container-item"
            *ngFor="let answer of question.answer" (click)="chooseAnswer(answer.id)"
            [ngClass]="{'is-active--red': response && (response.correctAnswer.correct != answer.id) && ((selected === answer.id)  || response.selectedAnswer == answer.id),
            'is-active--green': response && (response.correctAnswer.correct  == answer.id)}">
            <span class="test__container-answer"> {{answer.text}}
              <span *ngIf="response && response.questions"
                    class="test__item-percantage test__item--red"
                    [ngClass]="{'test__item--red': response && (response.correctAnswer.correct  != answer.id),
            'test__item--green': response && (response.correctAnswer.correct  == answer.id)}">{{response.questions[answer.id] ? response.questions[answer.id] : 0}}%</span>
            </span>
            <span *ngIf="response && ((selected === answer.id) || response.selectedAnswer == answer.id)" class="test__item-answer">{{question.description}}</span>
        </li>
    </ul>

    <a (click)="goToNext()" *ngIf="response" class="filter__container-button button--crypto button--test">Next</a>
    <a (click)="skip()" *ngIf="!response" class="filter__container-button button--crypto button--test">Skip</a>
</div>