<div class="exchange-status-table" *ngIf="prices">
  <table cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <td></td>
      <ng-container *ngFor="let module of getKeys(modules); let i = index">
        <td *ngIf="i < 5">
          {{modules[module]}}
        </td>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><p>Price</p></td>
      <ng-container *ngFor="let module of getKeys(modules); let i = index">
        <td *ngIf="i < 5"><span><p>{{prices[module]}} FTEC</p></span></td>
      </ng-container>
    </tr>
    </tbody>
  </table>
  <table cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <td></td>
        <ng-container *ngFor="let module of getKeys(modules); let i = index">
          <td *ngIf="i >= 5">
          {{modules[module]}}
          </td>
        </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><p>Price</p></td>
      <ng-container *ngFor="let module of getKeys(modules); let i = index">
        <td *ngIf="i >= 5"><span><p>{{prices[module]}} FTEC</p></span></td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
