:host {
  padding: 0 .938em 0 0;
  display:flex;
  margin-top: -1.538em;
}

@media only screen and (max-width: 425px) {
  :host {
    padding: 0 .938em 0;
  }
}

table {
  margin-bottom: .938em;
}

td{
  width: 15%;
}
//=======
//.exchange-status-table table thead tr td{
//  &:first-child{
//    width: 150px;
//  }
//  &:nth-child(2){
//    width: 285px;
//  }
//  &:nth-child(3){
//    width: 285px;
//  }
//  &:nth-child(4){
//    width: 285px;
//  }
//  &:nth-child(5){
//    width: 285px;
//  }
//  &:nth-child(6){
//    width: 285px;
//  }
//}
//>>>>>>> 08fea219039c6e11c402a73a59dd1a86ac372eed
