<div class="content">
    <div class="main-info">

        <!-- BEGIN terms -->
        <div class="terms">
            <div class="terms__box">


                <div class="page-info">
                    <div class="page-info__title">
                        <h2>Terms of use</h2>
                    </div>
                    <div class="page-info__text">
                        <p>The website that is accessible at coinbot.club (hereinafter "the Website") is for private
                            use. You
                            unambiguously admit to be bound by the following terms and conditions during connection and
                            use of
                            the Website. The owner of the Website reserves the right to change or to update these
                            conditions
                            without previous notice and also reserves the right to make amendments in content, products
                            or
                            services described on the Website.</p>
                    </div>
                </div>


                <ul class="text-box-list">
                    <li class="text-box-list__one text-box-list__one--full">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Conditions of Cookies use</p>
                            </div>
                            <div class="text-box__text">
                                <p>Registering on the Website, you confirm that you are 18 or older. You must be a
                                    human. Accounts registered by "bots" or other automated methods are not permitted.
                                    Your login may only be used by one person. Login reserved by another user is not
                                    permitted. You are responsible for maintaining the security of your account and
                                    password. The Website cannot and will not be liable for any loss or damage from your
                                    failure to comply with this security obligation. You are responsible for all
                                    activity that occurs under your account. You may not use the Website for any illegal
                                    or unauthorized purpose. You must not, in the use of the Website, violate any laws
                                    in your jurisdiction (including copyright law). You may not use Partnership Program
                                    to earn money on your own accounts. We don't manage your cryptocurrency sources. We
                                    only provide you with programmed algorithms that increase the probability of
                                    successful trade.</p>
                            </div>
                            <div class="text-box__date">
                                <p>01 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Protection of personal data</p>
                            </div>
                            <div class="text-box__text">
                                <p>The Website use is possible without provision of personal data and other confidential
                                    information. We guarantee careful handling of all your personal data that was
                                    nevertheless provided. We may need some of your personal data for satisfying your
                                    requests for information and/or to process your request as to subscribe to a
                                    newsletter. Your personal data can be shared with third parties. Some confidential
                                    information can be collected automatically for the purpose of quality improvement of
                                    service delivery when using the Website.</p>
                            </div>
                            <div class="text-box__date">
                                <p>02 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Conditions of Cookies use</p>
                            </div>
                            <div class="text-box__text">
                                <p>User is informed that the Website uses Cookies. Cookies are small files that are
                                    stored on your device (computer, laptop, tablet, smartphone, etc) to simplify the
                                    Website navigation, to gather statistics, and also stay authorized for some time.
                                    Almost all modern websites use Cookies. The user can deactivate Cookies by modifying
                                    the configuration of his or her browser.</p>
                            </div>
                            <div class="text-box__date">
                                <p>03 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>User responsibilities</p>
                            </div>
                            <div class="text-box__text">
                                <p>The owner of the Website is not responsible for any losses arising from the Website
                                    use. We make no statement of nonstop or error-free work of the Website. We are also
                                    not responsible for consequences of any intervals or errors. We are not responsible
                                    for the correct operation of exchanges through which bot trades. Users must protect
                                    their devices from viruses. The owner of the Website is not responsible for this
                                    area. Users undertake not to conduct advertising activity using spam delivery on
                                    messengers, social networks or by electronic mails.</p>
                            </div>
                            <div class="text-box__date">
                                <p>04 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Validity period of the document</p>
                            </div>
                            <div class="text-box__text">
                                <p>The validity period of present Agreement begins at the moment of its adoption when
                                    registering your account and ends when the Agreement will be terminated by either
                                    party. You can terminate present Agreement at any time for any or no reason by
                                    providing another party with written notification of termination. We reserve the
                                    right to do the same at any time. After termination of the Agreement, you undertake
                                    to stop using the Website and delete your account.</p>
                            </div>
                            <div class="text-box__date">
                                <p>05 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Termination of the document</p>
                            </div>
                            <div class="text-box__text">
                                <p>We reserve the right to refuse service. We have the right to suspend or terminate the
                                    account and to refuse your use of coinbot.club for any reason at any time. This will
                                    inevitably lead to deactivating or deleting the account. Also breach of any
                                    provision by the user will lead to a blocked account.</p>
                            </div>
                            <div class="text-box__date">
                                <p>06 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Relationships between the parties</p>
                            </div>
                            <div class="text-box__text">
                                <p>You and we are independent contractors. This Agreement does not create any
                                    partnership, joint enterprise, agency, franchise or labor relationship. You have no
                                    authority to make any statements or accept proposals on our behalf.</p>
                            </div>
                            <div class="text-box__date">
                                <p>07 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Return policy</p>
                            </div>
                            <div class="text-box__text">
                                <p>
                                    Coinbot.club is not entry-level service. If you feel that you can have any
                                    difficulties with its using - don't use this Website. Coinbot.club doesn't sell bots
                                    or items. Website is renting algorithms or intellectual data. Because of that we are
                                    not reviewing requests about funds returning. All the funds added to an account are
                                    converted in amount or time usage of an algorithms. While agreeing with that
                                    assertion, you confirm that you will not demand a refund in case of your
                                    dissatisfaction with work of the service.
                                </p>
                            </div>
                            <div class="text-box__date">
                                <p>08 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="text-box-list__one">
                        <div class="text-box">
                            <div class="text-box__title">
                                <p>Trial mode policy</p>
                            </div>
                            <div class="text-box__text">
                                <p>
                                    Coinbot.club grant access to trial mode in which you can test some services for
                                    free. Coinbot.club can change trial mode conditions and services that can be used in
                                    trial mode. Trading, arbitrage and social assistants are available in trial and
                                    could be used for 7 days since registration.
                                </p>
                            </div>
                            <div class="text-box__date">
                                <p>09 /<span>09</span></p>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
        <!-- END terms -->


    </div>
</div>

