.button__outline {
  padding: .313rem;
  border-radius: 1.750rem;
  padding-left: .938rem;
  padding-right: .938rem;

  text-align: center;
  outline: none;
  cursor: pointer;
  color: $accent;
  background: transparent;
  border: 0.125rem solid $accent;
}

.button__outline:hover {
  color:$white;
  background: $accent;
}

.filter__container-button {
  width: 100%;
  padding: 1.250em;
  margin-top: .938em;
  margin-bottom: .938em;

  color: $white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1.750rem;
  font-weight: bold;
  text-transform: uppercase;
  background-image: $blue-gradient;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}