@import "variables";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #fff;
  font: normal 16px 'Rubik',
  sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: $black;
  text-decoration: none;
}

.link__accent {
  color: $accent;
  text-decoration: underline;
}

li {
  list-style: none;
}

.content {
  width: 100%;
  min-height: 100vh;
  margin-bottom: -4px;
  position: relative;

  display: inline-block;

  overflow: hidden;
  background-image: $violet-gradient;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.content__bg {
  top: 0;
  right: 0;
  position: absolute;
}

.wrapperr {
  height: 100vh;
}

.error-field {
  color: $dark-red;
  font-size: 0.875rem;
}

h1 + .error-field {
  text-align: center;
  margin-bottom: 0.938em;
}

::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 2.250em;
}

h3 {
  font-size: 1.500rem;
  font-weight: normal;
}

p {
  opacity: .39;
  font-size: .938rem;
}

.text-small {
  display: block;
  margin-bottom: .313em;

  opacity: .5;
  font-size: 0.688rem;
}

.tab-controls {
  display: flex;
}

.tab-controls-item {
  width: 20%;
  padding: .938rem;
  padding-left: 1.250rem;
  padding-right: 1.250rem;

  cursor: pointer;
  color: $grey;
  background-color: rgba(13, 0, 59, .5);
  border-top-left-radius: .625rem;
  border-top-right-radius: .625rem;
}

.tab-controls-item:hover {
  color: $white;
  background-color: $dark-blue;

  transition: background .3s ease;
}

.tab-controls-item.is-active {
  background-color: $dark-blue !important;
}

.o-accordion {
  padding: .938em;
  margin-bottom: .625em;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  border-radius: .313rem;
  border: 1px solid $light-violete;
  background-color: $dark-blue;

  transition: all .3s ease;
}

.o-accordion svg {
  fill: $white;
  opacity: .5;
}

.o-accordion.is-active .accordion__visible-arrow {
  transform: rotate(180deg);
}

// Dashboard

.main-info {
  width: 100%;
  display: flex;
  position: relative;
}

.main-info.is-active {
  display: flex;
}

.middle {
  width: 60%;
  padding-left: 0;
  padding-right: 0;
}

.middle__subscription {
  padding: .938rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $dark-blue;
  border-radius: .313rem;
}

.middle.is-active .middle__table-container {
  display: none;
}

.middle__head, .aside-right__head {
  padding: 1.313em;
  padding-left: 0;
  padding-right: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  color: $white;
}

.middle__head--arbitrage,
.aside-right__head--arbitrage {
  padding-top: .938rem;
  padding-bottom: 1.063rem;
}

.middle__head--padding {
  padding-bottom: 0;
}

.middle__head span:last-child {
  opacity: .5;
}

.middle__head h5, .middle__head-wrapper,
.aside-right h5,
.middle__subscription h5 {
  font-weight: normal;
  font-size: 1em;
}

.middle__table {
  width: 100%;
}

.middle__table-type {
  width: 100%;
  padding: 0.625em;
  padding-left: 1.125em;
  padding-right: 1.125em;
  border-radius: .625rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $dark-blue;
}

.middle__table-type, .middle__table-type-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.middle__table-type-inner {
  width: 50%;
}

.middle__table-type-name {
  width: 25%;
  color: $white;
  opacity: .5;
}

.middle__table-container {
  padding-top: .938em;
  padding-left: 1.250em;
  padding-right: 1.250em;
  padding-bottom: .938em;
  background-color: $light-blue;
  border-bottom-left-radius: .313rem;
  border-bottom-right-radius: .313rem;
}

.middle__table-container--layout {
  padding: 0.625rem;

  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  position: relative;
}

.middle__table-container-embed {
  width: 50%;
  padding: 0.625rem;
  float: left;
}

.middle__table-container-embed:nth-child(3n) {
  float: right;
}

.middle__table-container-embed embed {
  width: 100%;
}

.middle__table-container-item {
  position: relative;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 0;
  padding-right: 0;

  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.middle__table-container-item::after {
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.063em;
  display: block;
  position: absolute;
  opacity: .5;
  background-color: $white;
}

.middle__table-container-item:last-child::after {
  display: none;
}

.middle__table-container-item h4 {
  width: 25%;
  font-weight: normal;
  font-size: 1.125rem;
}

.container-item-profit {
  width: 25%;
  font-size: 1.500rem;
  color: $green;
}

.align-right {
  text-align: right;
}

.wrapper__main {
  width: 100%;
  height: 90%;

  display: flex;
}

.container__middle {
  width: 60%;
}

.middle--dashboard {
  width: 100% !important;
  max-height: 390px;
  overflow-y: hidden;
  border-radius: 5px;
}

.main-info--dashboard {
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-info__head {
  width: 100%;
  height: 6rem;
  margin-right: .625em;

  display: flex;
  justify-content: space-between;
}

.main-info__head-item {
  padding: .625rem;

  display: flex;
  align-items: center;

  border-radius: .313rem;
  background: $violet-gradient-aside;
}

.main-info__head-item:first-child {
  width: 20%;

  justify-content: space-evenly;
}

.main-info__head-item:nth-child(2) {
  width: 25%;
}

.main-info__head-item:last-child {
  width: 55%;

  background: $dark-blue;
  flex-wrap: wrap;
}

.head-item__text {
  font-size: 1.125rem;
  font-weight: 100;
}

.head-item__text-price {
  font-size: 1.125rem;
  font-weight: 500;
}

.head-item__icon {
  cursor: pointer;
}

.head-item__icon-item {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.500rem;
  border-radius: 50%;
  background: $blue-gradient;
}

.filter__container {
  margin-bottom: 1.250em;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter__container--header {
  margin-bottom: 0 !important;
  width: 100%;

  border-radius: .313rem;
}

.head-item__container {
  width: 100%;

  overflow: hidden;

  display: flex;
  justify-content: space-around;
}

.head-item__container-item {
  margin: 1.125rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  font-size: 1.125rem;
}

.middle__table--dashboard,
.middle__table--filter {
  overflow-y: scroll;
  max-height: 280px;
}

.container-item__price {
  color: $red;
}

.table-container-item--name,
.middle__table-type-name--dashboard {
  font-weight: 100 !important;
}

.item-inner--notifications,
.table-container-item--name,
.middle__table-type-name--notifications:nth-child(2),
.middle__table-type-name--notifications:first-child {
  width: 26%;
}

.middle__table-container-item--dashboard {
  padding: .313rem !important;

  padding-top: .313rem;
  padding-bottom: .313rem;

  justify-content: flex-start !important;

  font-weight: 100 !important;
}

.item-inner--notifications,
.middle__table-type-name--notifications:nth-child(2),
.middle__table-type-name--notifications:last-child,
.container-item-update {
  margin-left: .938rem;
}

.container-item-update {
  width: 50%;
}

.middle__table-type-name--notifications:last-child {
  width: 50%;
}

.middle__table-container--dashboard {
  padding-top: .625rem;
  padding-bottom: .625rem;
  overflow-y: scroll;
  max-height: 275px;
}

.item-inner-line__balance {
  color: $red;
}

.middle__table-container-item {
  color: $white;
  font-size: 1.125rem;
  font-weight: 100 !important;
}

.container-item-balance {
  width: 25%;
}

.item-inner-line__balance--positive {
  color: $green;
}

.item-inner-line--dashboard,
.middle__table-type-name--dashboard {
  margin-left: .938rem;
}

// Right block dashboard

.container__wrapper--dashboard {
  margin-top: 0 !important;
  overflow-y: scroll;
  max-height: 680px;
}

.filter__table--filter {
  width: 100%;
}

.stocs__container {
  display: flex;
}

.stocs__text {
  margin-left: 1.125rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 1.125rem;
}

.middle__table-container-stocs {
  padding-top: .625rem;
  padding-bottom: .625rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stocs__item-image img {
  width: 40px;
}

.stocs__text-connected {
  padding: .188rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: none;

  background: $green;
  border-radius: 1rem;
  font-size: .738rem;
  text-transform: uppercase;
}

.filter__container-aside {
  width: 40%;
  padding: .625em;
  margin-top: 3.188em;
  margin-bottom: 0;

  border-radius: .313rem;
}

.form__info-checkmark--dashboard {
  width: 2.813rem !important;
  height: 2.813rem !important;

  border: none !important;
  border-image: none !important;
  border-image-slice: none !important;
}

.form__info-checkmark--dashboard:after {
  content: none;
}

.form__info-label-container input:checked ~ .form__info-checkmark--dashboard,
.form__info-label-container input:hover ~ .form__info-checkmark--dashboard {
  background-image: none !important;
}

.form__info-label-container input:checked ~ .form__info-checkmark svg .item__svg-el--dark,
.form__info-label-container input:hover ~ .form__info-checkmark svg .item__svg-el--dark {
  fill: $accent;
}

.container__link--dashboard {
  width: 2.813rem;
  height: 2.813rem;
}

.container__link--notifications.not-active::after, .container__link--dashboard.not-active::after {
  content: '';
  z-index: 2;
  top: -6px;
  left: -2px;
  width: 111%;
  height: 104%;
  display: block;
  position: absolute;

  cursor: initial;
  opacity: .7;
  border-radius: .625em;
}

.container__link--notifications.not-active {
  opacity: .6;
}

.container__link--dashboard.not-active {
  opacity: .3;
}

.button__outline--dashboard {
  width: 45%;
  padding: .625rem;
}

.form__info-label-container.is-active .form__info-checkmark:after,
.form__info-label-container input:checked ~ .form__info-checkmark:after {
  display: none;
}

.container__link.is-active .item__svg-el--dark {
  opacity: 1;
  fill: $accent;
}

.container__link {
  position: relative;
}

.container__wrapper {
  margin-top: 1.250rem;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-inner {
  width: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-inner-line {
  font-size: .938em;
  text-align: left;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title--green {
  color: $green;
}

.title--blue {
  color: #25cbd3;
}

.item-inner-line--second {
  color: $accent;
}

.filter__container-double {
  display: flex;
  flex-wrap: wrap;
}

.filter__container--analyzer {
  width: 50%;
  padding: .313em;
}

.main-info {
  .middle {

  }
}

[_nghost-c8] {
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
}

.msg-line {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  padding-right: 0.625em;
  padding-bottom: 5px;
  &__content {
    border-radius: .625rem;
    padding: 12px 60px;
    padding-left: 30px;
    padding-right: 80px;
    background: $violet-gradient-linear;
    position: relative;
  }
  &__close {
    opacity: .3;
    width: 60px;
    height: 60px;
    background: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    outline: none;
    &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 70px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.7);

      background-image: url("/assets/images/up-arrow.svg");
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__open {
    opacity: .3;
    width: 60px;
    height: 60px;
    background: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    outline: none;
    &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 70px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.7);

      background-image: url("/assets/images/angle-arrow-down.svg");
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.msg-item {
  p {
    opacity: 1;
  }
  &__text {
    //padding-top: 15px;
    //padding-right: 45px;
  }
}

.page-info {
  &__title {

  }
  &__text {
    padding-top: 15px;
    p {
      opacity: 1;
    }
  }
}

.terms {
  width: 1170px;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 45px;
  * {
    box-sizing: border-box;
  }
  p {
    opacity: 1;
  }
}

.text-box-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding-top: 50px;
  padding-bottom: 30px;
  &__one {
    width: 50%;
    padding: 0 20px;
    padding-bottom: 40px;
    &--full {
      width: 100%;
    }
  }
}

.text-box {
  padding: 30px;
  border-radius: 10px;
  background-image: $violet-gradient-linear;
  height: 100%;
  position: relative;
  &__date {
    position: absolute;
    right: 30px;
    top: 30px;
    span {
      font-weight: 700;
    }
  }
  &__title {
    padding-right: 60px;
    p {
      font-size: 24px;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
}

.exchange-status-table {
  width: 100%;
  padding: 35px 0;
  table {
    width: 100%;
    text-align: center;
    td {
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
    }
    thead {
      tr {
        td {
          background: #0d003b;
          font-size: 12px;
          line-height: 1.2;
          color: rgba(255, 255, 255, 0.52);
          padding-top: 12px;
          padding-bottom: 12px;
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }
    }
    tbody {
      td {
        &:first-child {
          text-align: left;
        }
        font-weight: 700;
        font-size: 21px;
        background: rgba(13, 0, 59, 0.51);

        span {
          padding-top: 25px;
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          display: block;
        }
        a {
          font-size: 14px;
          font-weight: 100;
          color: #25cbd3;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
      tr {
        &:last-child {
          td {
            span {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.social-listing {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  padding: 0 15px;
  li {
    + li {
      margin-left: 10px;
    }
    list-style: none;
  }
}

.container__name {
  padding-left: .738em;
}

.form__info-label-container.is-active .form__info-checkmark:after {
  display: block;
}









