@import "variables";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // -webkit-transition: .3s ease;
  // -o-transition: .3s ease;
  // transition: .3s ease;
}

body {
  color: #fff;
  font: normal 16px 'Rubik',
  sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

a {
  color: $black;
  text-decoration: none;
}

li {
  list-style: none;
}

.content {
  width: 100%;
  min-height: 100vh;
  margin-bottom: -4px;
  position: relative;
  
  display: inline-block;
  
  overflow: hidden;
  background-image: $violet-gradient;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.content__bg {
  top: 0;
  right: 0;
  position: absolute;
}

.wrapper {
  height: 100vh;
}

.error-field {
  color: $dark-red;
  font-size: 0.875rem;
}

h1 + .error-field {
  text-align: center;
  margin-bottom: 0.938em;
}

::-webkit-scrollbar {
  display: none;
}


h3 {
  font-size: 1.500rem;
  font-weight: normal;
}

p {
  opacity: .39;
  font-size: .938rem;
}

.tab-controls {
  display: flex;
}

.tab-controls-item {
  width: 20%;
  padding: .938rem;
  padding-left: 1.250rem;
  padding-right: 1.250rem;

  cursor: pointer;
  color: $grey;
  background-color: $dark-blue;
  border-top-left-radius: .625rem;
  border-top-right-radius: .625rem;
}

.tab-controls-item:hover {
  color: $white;
  background-color: rgba(13, 0, 59, .5);

  transition: background .3s ease;
}

.tab-controls-item.is-active {
  background-color: $dark-blue;
}

.o-accordion {
  padding: .938em;

  display: flex;
  flex-direction: column;
  
  cursor: pointer;
  border-radius: .313rem;
  border: 1px solid $light-violete;
  background-color: $dark-blue;

  transition: all .3s ease;
}

.o-accordion svg {
  fill: $white;
  opacity: .5;
}

.o-accordion.is-active .accordion__paragraph {
  display: block;
}

.o-accordion.is-active .accordion__visible-arrow {
  transform: rotate(180deg);
}