@import "variables";

.container__form {
  position: relative;
  border-radius: 28px;
  background-color: $dark-blue;
  margin-top: 0.938em;
  margin-bottom: 0.938em;
}

.form__label {
  padding: 1.125em;
  padding-left: 1.125em;
  position: absolute;

  opacity: .35;
  font-size: .938em;
  color: $light-grey;
}

.form__input {
  width: 100%;
  padding: .938em;
  position: relative;

  outline: none;
  color: $white;
  border-radius: 28px;
  border: solid 1px #594498;
  background-color: transparent;

  -moz-appearance: textfield;
}

.form__info {
  font-size: 0.875rem;
  position: relative;
  height: 100%;
}

.form__info-link {
  color: $white;
  text-decoration: underline;
}

.form__info-link-reg {
  float: right;
}

.form__info-text {
  opacity: .5;
  display: block;
  margin-bottom: .938rem;
}

.form__info-label-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: transparent;
  border-radius: 3px;
}

.form__info--checkbox {
  margin-top: 3.125em;
}

/* Hide the browser's default checkbox */
.form__info-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  border-radius: 3px;
  border: 2px solid $accent;
}


/* Create a custom checkbox */
.form__info-checkmark {
  position: absolute;
  top: -0.313rem;
  left: 0;
  height: 25px;
  width: 25px;

  border-radius: 0.188rem;
  border-width: 2px;
  border-style: solid;

  -moz-border-image: $blue-gradient;
  -webkit-border-image: $blue-gradient;
  border-image: $blue-gradient;

  -webkit-border-image-slise: 1;
  border-image-slice: 1;
}

/* On mouse-over, add a grey background color */
.form__info-label-container:hover  .form__info-checkmark,
.form__info-label-container input:checked ~ .form__info-checkmark {
  background-image: $blue-gradient;

  transition: background .3s ease;
}


/* When the checkbox is checked, add a blue background */
.form__info-label-container.is-active  .form__info-checkmark,
.form__info-label-container input:checked ~ .form__info-checkmark {
  background-image: $blue-gradient;
}

/* Create the form__info-checkmark/indicator (hidden when not checked) */
.form__info-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the form__info-checkmark when checked */
.form__info-label-container--reg.is-active .form__info-checkmark:after,
.form__info-label-container--reg input:checked ~ .form__info-checkmark:after {
  display: block;
}

/* Style the form__info-checkmark/indicator */
.form__info-label-container .form__info-checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 3px 3px 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Webkit browsers like Safari and Chrome */
.form__input::-webkit-inner-spin-button,
.form__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;  
  margin: 0;
}

/* Error style */

.item-inner-line--error,
.error-field {
  color: $dark-red;
  font-size: 0.875rem;
}

.form__select {
  left: 20px;
  width: 75%;
  height: 38px;
  position: relative;
  border-radius: 28px;

  color: $white;
  opacity: .35;
  outline: none;
  border: none;
  background: transparent;
  -webkit-appearance: menulist-button !important;
  appearance: menulist-button !important;
}

.form__textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  padding: 1.250rem;
  display: block;

  font-size: 1rem;
  font-weight: 400;
}

.form__input--insert {
  text-align: center;
}

.form__input--link {
  color: $accent;
  text-decoration: underline;
}

// SELECT


select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
} 

select::-ms-expand { 
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.container__form--select {
  position: relative;
  border-radius: 1.250rem;
}

.container__form-select-block {
  min-width: 70px;
  display: flex;
  align-items: center;

  cursor: pointer;
  font-size: 0.7rem;
  color: rgba(255,255,255, .35);
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.form__select-list {
  z-index: 1;
  width: 100%;
  position: absolute;
  
  font-size: .7rem;
  color: rgba(255,255,255, .35);
  background: $dark-blue;
  display: none;

  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;

}

.container__form--select.is-active,
.container__form--select.is-active .container__form-select-block {
  border-radius: 20px;
}

.container__form--select.is-active .form__select-list {
  display: block;
}

.form__select-list-item {
  display: block;
  padding: .938rem;
  cursor: pointer;

  transition: background .3s ease;
}

.form__select-list-item:hover {
  background-color: $light-blue;
}

.form__select-list-item:only-child {
  border-radius: 28px !important;
}

.form__select-list-item:last-child{
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.form__label--currency {
  position: absolute;
  right: 0;
  top: -0.5rem;
}