$red: #ff8080;
$dark-red: #ff3030;
$green: #66cc33;
$dark-blue: #0d003b;
$light-blue: #1B0244;
$ocean: #3f8afd;
$crimson: #9c0d66;
$light-violete: #69407b;
$accent: #25cbd3;
$grey: #b6b2c4;
$light-grey: #b6b2c4;
$white: #fff;
$black: #000;
$violet-gradient: radial-gradient(circle at 49% 0%, #400959, #0f0240);
$violet-gradient-linear: linear-gradient(to left, #0d0130, #3d0957);
$violet-gradient-aside: linear-gradient(to left, #3d0957, #0d0130);
$blue-gradient: linear-gradient(to right, #12a7f6, #25cbd3);