<div class="main-info main-info__empty">

    <div class="middle middle--empty middle--empty-frame">
  
      <div class="middle--empty-frame">
  
        <iframe width="800" height="450" src="https://www.youtube.com/embed/mxjKC6DL1Mo" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        <div class="text-block">
  
          <h3 class="title-block">Global Price Analyzer</h3>
          <p>
            One of the functions of an ecosystem, available to users, will be the global analyzer of cryptocurrency exchanges aimed to
            find the most profitable offers for buying or selling.</p>
        </div>
  
      </div>
  
    </div>
  
    <div class="middle middle--empty middle--empty-bottom">
      <h5 class="middle__empty-title">Page is under construction</h5>
  
      <div class="middle__empty-buttons">
        <a href="https://ftec.io/" class="button button--empty">Main page</a>
  
        <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
      </div>
    </div>
  
  </div>