<div class="main-info main-info__empty">

  <div class="middle middle--empty middle--empty-frame">

    <div class="middle--empty-frame">

      <iframe width="800" height="450" src="https://www.youtube.com/embed/EjBhvoJrV9g" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
      <div class="text-block">
        <h3 class="title-block">Cryptoacademy</h3>
        <p>
          A training module that will enable beginner trader to get only the knowledge that will work exactly on the cryptocurrency
          market. We called this module "Cryptoacademy", its main goal is to compensate for the lack of convenient training
          tools that allow the user not to risk real money and learn how to make effective forecasts in real time.</p>
      </div>

    </div>

  </div>

  <div class="middle middle--empty middle--empty-bottom">
    <h5 class="middle__empty-title">Page is under construction</h5>

    <div class="middle__empty-buttons">
      <a href="https://ftec.io/" class="button button--empty">Main page</a>

      <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
    </div>
  </div>

</div>