<div class="main-info">

  <div class="middle middle--crypto">

    <div class="crypto">
      <div class="crypto__tab">
        <ul class="crypto__tab-controls">
          <li class="crypto__tab-controls-item">Fundamental Analysis</li>
          <li class="crypto__tab-controls-item">Technical Analysis</li>
          <li class="crypto__tab-controls-item">Tests</li>
          <li class="crypto__tab-controls-item">Forecasting</li>
        </ul>

        <div class="crypto__tab-wrapper">
          <div class="crypto__tab-container">
            <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

            <div class="crypto__tab-info">
              <h5 class="crypto__info-title">Do you know crypto?</h5>

              <span class="crypto__info-subtitle">Begginer</span>

              <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

              <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
            </div>
          </div>

          <div class="crypto__tab-container">
            <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

            <div class="crypto__tab-info">
              <h5 class="crypto__info-title">Do you know crypto?</h5>

              <span class="crypto__info-subtitle">Begginer</span>

              <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

              <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
            </div>
          </div>

          <div class="crypto__tab-container">
            <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

            <div class="crypto__tab-info">
              <h5 class="crypto__info-title">Do you know crypto?</h5>

              <span class="crypto__info-subtitle">Begginer</span>

              <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

              <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
            </div>
          </div>

          <div class="crypto__tab-container">
            <img src="../../../../assets/images/image_2018-06-25_11-24-22.png" alt="">

            <div class="crypto__tab-info">
              <h5 class="crypto__info-title">Do you know crypto?</h5>

              <span class="crypto__info-subtitle">Begginer</span>

              <p class="crypto__info-text">Check your general knowledge about cryptocurrency, trading and market itself.</p>

              <a href="javascript:void(0)" class="filter__container-button button--crypto">Begin</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="middle middle--test not-active">
    <div class="test">

      <h3 class="test__question">What is Blockchain?</h3>

      <div class="test__image">
        <img src="https://via.placeholder.com/700x216" alt="">
      </div>
      <div class="test__wrapper">

        <ul class="test__container">
          <li class="test__container-item">
            <span class="test__container-answer test__item--red"> It`s a platform where you can create online-services for crypto trading.
              <span class="test__item-percantage">13%</span>
            </span>
          </li>
          <li class="test__container-item">
            <span class="test__container-answer">It`s a crowdfunding tool, that can be described as an entry in data register.
            </span>
          </li>
          <li class="test__container-item">
            <span class="test__container-answer test__item--green">It`s an internal currency that can be described as an entry in data register.
              <span class="test__item-percantage">54%</span>
            </span>
            <span class="test__item-answer">No! A blockchain is a continuously growing list of records, called blocks, which are linked and secured using
              cryptography. Each block typically contains a cryptographic hash of the previous block, a timestamp, and transaction
              data.
            </span>
          </li>
          <li class="test__container-item">
            <span class="test__container-answer">It`s a chain of blocks that contain data, created according to certain rules.
            </span>
          </li>
        </ul>

        <a href="javascript:void(0)" class="filter__container-button button--crypto button--test">Next</a>
      </div>
    </div>
  </div>

  <div class="aside-right aside-right--test not-active">

    <div class="test__status">
      
    </div>

  </div>

</div>