.filter__container--empty-dictionary {
  opacity: .3;
  text-align: center;
}

.filter__container-block-item--categories{
  margin: 0.213em;
  padding: 0.338em;
  padding-left: 0.938em;
  padding-right: 2.188rem;
}

.categories__item-svg {
  margin-top: 4px;
}

.categories__item-svg svg {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.filter__container-block-item--categories:hover svg {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.container__name--recommended {
  margin-bottom: 0.938em;
}

.middle__table-container--layout ngx-tweet {
  width: 50%;
}

.filter__container-block-item--categories.is-active svg {
  transform: initial;
}

.filter__container-block-item--categories.is-active:hover svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);

  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}


// Preloader

.vertical-centered-box {
  margin: 0 auto;
  padding: 120px;
}

.vertical-centered-box--tweeter {
  position: initial;
}

.middle__table-container--tweeter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.middle__table-container--left,
.middle__table-container--right {
  width: 50%;
}

/deep/ {
  .middle__table-container--left div:first-child,
  .middle__table-container--right div:first-child {
    padding: .313rem;

  margin: 0;
  }

  .twitter-tweet-rendered{
    width: 100% !important;
    padding-right: .625rem !important;
    padding-left: .625rem !important;
  }

}

.vertical-centered-box--tweeter {
  padding: 10px;
  display: initial;
}

ngx-tweet {
    opacity: 0;
}



.tweeter--left {
  float: left;
}

.tweeter--right {
  float: right;
}

