.filter__container--empty-dictionary {
  opacity: .3;
  text-align: center;
}

.filter__container-block-item--categories{
  margin: 0.213em;
  padding: 0.338em;
  padding-left: 0.938em;
  padding-right: 2.188rem;
}

.categories__item-svg {
  margin-top: 4px;
}

.categories__item-svg svg {
  transform: rotate(45deg);
}

.filter__container-block-item--categories:hover svg {
  transform: rotate(135deg);
}

.container__name--recommended {
  margin-bottom: 0.938em;
}

.middle__table-container--layout ngx-tweet {
  width: 50%;

  padding: .313rem;
}

.filter__container-block-item--categories.is-active svg {
  transform: initial;
}

.filter__container-block-item--categories.is-active:hover svg {
  transform: rotate(90deg);
}


// Preloader

.vertical-centered-box {
  margin: 0 auto;
  padding: 120px;
}
