<div class="main-info main-info__empty">

  <div class="middle middle--empty middle--empty-frame">

    <div class="middle--empty-frame">

      <iframe width="800" height="450" src="https://www.youtube.com/embed/sJrYENYrBlU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="text-block">

        <h3 class="title-block">Service of Trader's Behavioral Analysis
          </h3>
        <p>
            The essence of this intellectual system is that it continuously monitors and analyzes the behavioral factor of the trader on the exchange. If you describe its algorithm as simple as possible: the system loads the history of market trading with a certain cryptocurrency and concludes how often a trader closed positions on the wave of Panic Buy or Panic Sell.</p>
      </div>

    </div>

  </div>

  <div class="middle middle--empty middle--empty-bottom">
    <h5 class="middle__empty-title">Page is under construction</h5>

    <div class="middle__empty-buttons">
      <a href="https://ftec.io/" class="button button--empty">Main page</a>

      <a [routerLink]="'/modules/dashboard'" class="button button--empty">Dashboard</a>
    </div>
  </div>

</div>