<div class="main-info main-info--behavioral">
  <div class="middle middle--behavioral">

    <div class="middle__head middle__head--behavioral">Trading reports</div>

    <div class="middle__block middle__block--behavioral">

      <div class="behavioral__small-container" *ngFor="let item of behavioralItems">
        <div class="small-container__line">
          <h2>{{item.pair}}</h2>

          <a href="javascrip:void(0)" class="small-container__line-link">{{item.type}}</a>
        </div>

        <div class="small-container__line small-container__line--button">
          <div class="small-container__subtext">
            <span class="text-small">{{item.exchange}}</span>
            <span class="text-small">{{item.date}}</span>
          </div>

          <button class="filter__container-button filter__container-button--behavioral">Full report</button>
        </div>
      </div>

    </div>

  </div>
</div>