@import "../../../../assets/styles/variables";

.middle--behavioral,
.behavioral--preloader-main {
  width: 66.66%;
}

.behavioral--preloader-main {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle__head--behavioral {
  padding: 0.75em 0;
  padding-block-end: .625em;
}
.filter__container-link {
  color: $accent;
  font-size: .938rem;
  text-decoration: underline;
  cursor: pointer;
}
.middle__block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/deep/ {
  //.ngx-charts {
  //  transform: scale(1.1);
  //}

  .user-top-info__box .user-graphic ngx-charts-line-chart ngx-charts-chart .ng-trigger-animationState {
    width: 100%;
    position: relative;
  }

  .tick{
    //display: none !important;

    text {
      fill: white;
      opacity: 0.3;
    }
  }
  //
  //.y.axis {
  //  transform: translateX(10%) !important;
  //}

/*  .line-chart {
    transform: translateX(22%) !important;
  }

  .tooltip-anchor, .tooltip-bar {
    display: none !important;
  }*/

  .user-top-info__box .user-graphic .small-container__line-link--red {
    color: #9C0D66;
  }

 /* .ngx-charts .refline-path{
    opacity: 0.4;
    stroke: white !important;
    stroke-width: 0.3 !important;
    stroke-dasharray: 4 !important;
    stroke-dashoffset: 5 !important;
  }

  .ngx-charts .refline-label{
    text-transform: uppercase;
    font-weight: 500;
    transform: translateY(-3px);
    fill: #3F8AFD;
  }

  .ngx-charts:first-child text:first-child {
    fill: #9C0D66;
  }*/



}

.behavioral__small-container {
  width: 100%;
  margin: 0px -10px;
  padding: .938em;
  border-radius: 0.625rem;
  background-image: $violet-gradient-aside;
}

.behavioral__small-container-inner {
  width: 50%;
  padding: 10px;
}

.small-container__line {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.behavioral__small-container .small-container__line:last-child {
  align-items: flex-start;
  flex-wrap: wrap;
}

.small-container__line h2 {
  font-weight: 300;
}

.small-container__line-link {
  font-size: 1.125em;
  font-weight: 900;
  color: $ocean;
}

.filter__container-button--behavioral {
  padding: .625em;
  width: initial;
  padding-left: 1.250em;
  padding-right: 1.250em;
}

.small-container__graph {
  width: 100%;
  display: none;
  flex-direction: column;
  margin: 1.5em 0;
}

.small-container__graph.is-active {
  display: flex;
}

.small-container__graph img {
  width: 100%;
  height: 100%;
  margin-top: 1.250em;
  margin-bottom: .625em;
}

.small-container__svg {
  margin: 30px 0;
  width: 100%;
  height: 100%;
}

.small-container__description {
  font-size: .688rem;
}

.small-container__graph-controls {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.graph-controls__item {
  font-weight: 500;
  text-transform: uppercase;
}

.graph-controls__item-container {
  position: absolute;
  right: .938em;
}

.graph-controls__item--red,
.small-container__line-link--red {
  text-align: right;
  width: 100%;
  float: right;
  color: $crimson;
}

.graph-controls__item--blue {
  float: right;
  width: 100%;
  text-align: right;
  color: $ocean;
}

.aside-right__head--behavioral {
  padding: 0;
  margin: 0.175em 0 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__form--behavioral {
  margin: 0;
}

.aside-right__filter--behavioral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -.625em 0 -.625em -.625em;
}

.behavioral__stats {
  width: 33%;
  margin-bottom: 1em;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.behavioral__stats-num {
  font-size: 1.875em;
}

.aside-right__filter--bottom {
  margin-top: 1.250em;
}

.filter__container--analyzer{
  padding: 0;
  margin-bottom: 0;
}

.filter__container--analyzerr{
  padding-right: .626em !important;
}

.behavioral--text--red {
  color: $red;
}

.filter__container-block {
  margin-bottom: 1.50em;
}

.aside-right{
  padding-top: 0.75em !important;
}

.container__form--behavioral-select,
.behavioral__select-button {
  width: 100%;
}

.behavioral__block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container__form-warning {
  color: $red;
  font-weight: 100;
}

.filter__container--behavioral {
  margin-left: -.625em;
}

.item-inner-line-error-block.item-inner-line-error-block--empty {
  width: 95%;
  margin: 0;
  margin-bottom: .938em;
  margin-top: .538em;
}

.error-field {
  margin-bottom: .938em !important;
}


.notification-list{
  display: flex;
  flex-wrap:wrap;
  width: 95%;
  list-style: none;
  &__one{
    width: calc(50% - 10px);
    padding-bottom: 15px;
    &:nth-child(2n){
      margin-left: auto;
    }
  }

}

.notification-item{
  background: $violet-gradient-linear;
  padding: 15px;
  padding-top: 25px;
  border-radius: 13px;
  position: relative;
  p{
    opacity: 1;
  }
  &__remove{
    position: absolute;
    right: 15px;
    top: 25px;
    width: 16px;
    height: 16px;
    border:none;
    background-color: transparent;
    background-image:   url("../../../../assets/images/close.svg") ;
    background-size:    contain;
    background-repeat:  no-repeat;
    background-position:    center;
    opacity: .5;
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
      opacity: 1;
    }
  }
  &__info{
    list-style: none;
    li{
      display: flex;
      justify-content: space-between;
      +li{
        margin-top: 15px;
      }
      p{
        &:first-child{
          text-align: left;
          margin-right: auto;
          color: #b8e986;
        }
        &:last-child{
          margin-left: auto;
          text-align: right;
        }
        font-size: 14px;
        span{
          color: rgba(255, 255, 255, 0.5);
          display: block;
          line-height:1;
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
  }
  &__name{
    margin-bottom: 15px;
    p{
      font-size: 36px;
      line-height: 1;
    }
    span{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.51);
      display: block;
      line-height: 1.2;
    }
  }
  &__method{
    margin-top: 25px;
  }
}

.notification-methods{
  display: flex;
  list-style: none;
  li{
    +li{
      margin-left: 15px;
    }
  }
  &__link{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg,img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;

    }
    g{
    }
    &:hover{
      g{
        fill: #25cbd3;
      }
    }
  }
}

@media only screen and (max-width: 1400px){
  .notification-item__info li p{
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px){
  .notification-list__one{
    width: 100%;
  }
  .notification-item__name p{
    font-size: 26px;
    span{
      font-size: 16px;
    }
  }
}

.link__accent {
  color: $accent;
  text-decoration: underline;
}


.filter__container-slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2.8em;
  margin-bottom: 2.25em;

  .filter__container-button {
    padding: .8em;
    margin-right: .353em;
  }
}

.l-order__type-container {
  width: fit-content;
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;

  border-radius: 28px;
  background-color: $white;
}

.order__type-container {
}

.order__type-item {
  z-index: 3;
  display: block;
  padding: .625em;
  padding-left: 1.250em;
  padding-right: 1.250em;
  position: relative;

  cursor: pointer;
  color: $black;
}

.order__type-container::before {
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;

  border-radius: 28px;
  background-image: $blue-gradient;
  box-shadow: 0 11px 20px 0 rgba(31, 7, 72, 0.6), 0 0 4px 1px #25cbd3;
}

.order__type-item.is-active .order__type-container::before {
  display: block;
}

.order__type-item.is-active {
  color: $white;
}


.l-volume__type-container {
  width: 100%;
  text-align: center;
}

.l-volume__type-container .order__type-item {
  width: 50%;
}

.filter__container--volume-double {
  padding: .625em;
}

.l-order__type-container{
  width: 100%;
}
.order__type-item{
  width: 50%;
  text-align: center;
}
.order__type-container{
  &:before{
    background-color: #25cbd3;
  }
}

.filter__container-order{
  width: 100%;
  margin-bottom: 0.938em;
  margin-top: 1.250em;
}

